@font-face {
	font-family:sourcesans; 
	src: url(fonts/sourcesans/SourceSansPro-Regular.ttf); 
} @font-face {
	font-family:sourcesans-bold;
 	src: url(fonts/sourcesans/SourceSansPro-Bold.ttf); 
} @font-face {
	font-family:sourcesans-light; 
	src: url(fonts/sourcesans/SourceSansPro-Light.ttf); 
} @font-face {
	font-family:sourcesans-lightItalic; 
	src: url(fonts/sourcesans/SourceSansPro-LightItalic.ttf); 
} @font-face {
	font-family:sourcesans-italic; 
	src: url(fonts/sourcesans/SourceSansPro-Italic.ttf); 
} @font-face {
	font-family:sourcesans-semibolditalic; 
	src: url(fonts/sourcesans/SourceSansPro-SemiBoldItalic.ttf); 
}@font-face {
	font-family:sourcesans-bolditalic; 
	src: url(fonts/sourcesans/SourceSansPro-BoldItalic.ttf); 
}
@font-face {
  font-family: 'icomoon';
  src:  url(fonts/iconos/icomoon.eot);
  src:  url(fonts/iconos/icomoon.eot#iefix) format('embedded-opentype'),
    url(fonts/iconos/icomoon.ttf) format('truetype'),
    url(fonts/iconos/icomoon.woff) format('woff'),
    url(../img/icomoon.svg#icomoon) format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-power-off:before {
  content: "\f011";
}
.icon-clock-o:before {
  content: "\f017";
}
.icon-lock:before {
  content: "\f023";
}
.icon-book1:before {
  content: "\f02d";
}
.icon-image1:before {
  content: "\f03e";
}
.icon-photo:before {
  content: "\f03e";
}
.icon-picture-o:before {
  content: "\f03e";
}
.icon-edit:before {
  content: "\f044";
}
.icon-pencil-square-o:before {
  content: "\f044";
}
.icon-chevron-left:before {
  content: "\f053";
}
.icon-chevron-right:before {
  content: "\f054";
}
.icon-bell:before {
  content: "\f0f3";
}
.icon-unlock-alt:before {
  content: "\f13e";
}
.icon-user-circle:before {
  content: "\f2bd";
}
.icon-home3:before {
  content: "\e902";
}
.icon-newspaper:before {
  content: "\e904";
}
.icon-pencil:before {
  content: "\e905";
}
.icon-pencil2:before {
  content: "\e906";
}
.icon-quill:before {
  content: "\e907";
}
.icon-image:before {
  content: "\e90d";
}
.icon-images:before {
  content: "\e90e";
}
.icon-headphones:before {
  content: "\e910";
}
.icon-play:before {
  content: "\e912";
}
.icon-book:before {
  content: "\e91f";
}
.icon-books:before {
  content: "\e920";
}
.icon-file-text:before {
  content: "\e922";
}
.icon-file-empty:before {
  content: "\e924";
}
.icon-file-text2:before {
  content: "\e926";
}
.icon-file-zip:before {
  content: "\e92b";
}
.icon-address-book:before {
  content: "\e944";
}
.icon-database:before {
  content: "\e964";
}
.icon-bubble:before {
  content: "\e96b";
}
.icon-bubbles:before {
  content: "\e96c";
}
.icon-user:before {
  content: "\e971";
}
.icon-key:before {
  content: "\e98d";
}
.icon-cog:before {
  content: "\e994";
}
.icon-cogs:before {
  content: "\e995";
}
.icon-pie-chart:before {
  content: "\e99a";
}
.icon-stats-bars:before {
  content: "\e99c";
}
.icon-stats-bars2:before {
  content: "\e99d";
}
.icon-bin:before {
  content: "\e9ac";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-minus:before {
  content: "\ea0b";
}
.icon-terminal:before {
  content: "\ea81";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-steam:before {
  content: "\eaac";
}
.icon-paypal:before {
  content: "\ead8";
}
.icon-file-pdf:before {
  content: "\eadf";
}
.icon-file-word:before {
  content: "\eae1";
}
.icon-file-excel:before {
  content: "\eae2";
}

/* --
CSS Reseter
CSSLab � 2010 by Jorge Epu�an
http://www.csslab.cl/2010/06/01/css-reseter-v2/
-- */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, header, footer, hgroup, menu, nav, section, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
}

article, aside, nav, section, dialog, figure, header, footer, hgroup { 
    display:block;
}

legend {
	display:none;
}

:focus {
	outline: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

caption, th, td {
	text-align: left;
	font-weight: normal;
}

a img, iframe {
	border: none;
}

ul {
	list-style: none;
}

input, textarea, select, button {
	font-size: 100%;
	font-family: inherit;
}

input, select {
    vertical-align:middle;
}

select {
	margin: inherit;
}

/* Fixes incorrect placement of numbers in ol's in IE6/7 */
ol { margin-left:2em; }


/* ========================================= clearfix == */
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearfix {display: inline-block;}

* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* Links :3 */
/*-- Estilos Generales --*/
* {
  -webkit-box-sizing: boxer-box;
  -moz-box-sizing: boxer-box;
  box-sizing: boxer-box; }

body {
  background: #EAEAEA;
  font-family: sourcesans, Arial, Helvetica, Sans-serif;
  height: 100vh;
  /*-- Flex --*/
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

a {
  color: #111111;
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

/*-------------------------------------------------*/
/* Cajas */
/*-------------------------------------------------*/
main {
  flex: 1;
  display: flex;
  width: 100%;
  max-width: 1000px;
  margin: auto;
  margin-top: 70px; }

header.nav {
  height: 54px;
  position: fixed;
  width: 100%;
  z-index: 100;
  background: #404040; }
  header.nav nav {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 50px; }
    header.nav nav a {
      font-size: 18px;
      font-family: sourcesans-bolditalic;
      color: #d8d8d8;
      transition: 0.5s;
      border-bottom: 1px solid #d8d8d8;
      margin: 0px 10px; }
      header.nav nav a:hover {
        color: #FFFFFF; }

aside {
  width: 30%;
  margin: 10px;
  background: #FDFDFD;
  display: flex;
  flex-direction: column;
  animation: testing 1s; }
  aside .AsideTitle {
    color: #363636;
    font-family: sourcesans-bold;
    font-size: 26px;
    width: 85%;
    margin: 10px auto;
    border-bottom: 3px solid #404040;
    text-align: center; }
  aside section {
    width: 85%;
    margin: 0px auto;
    margin-bottom: 15px; }
    aside section .titulo {
      font-size: 26px; }
    aside section .contenido {
      font-size: 16px;
      text-align: justify; }
    aside section .by {
      font-size: 14px;
      font-family: sourcesans-lightItalic; }

@keyframes testing {
  0% {
    transform: translate(200px);
    opacity: 0; }
  100% {
    transform: translate(0px);
    opacity: 1; } }

article {
  width: 70%;
  margin: 10px;
  animation: showArticle 1s both; }
  article section {
    -moz-border-radius: 20px;
    -wedkit-border-radius: 20px;
    -ms-border-radius: 20px;
    border-radius: 20px;
    background: #FDFDFD;
    border: 3px solid #909090;
    margin-bottom: 20px; }
    article section .content {
      display: flex;
      color: #363636; }
      article section .content .avatar {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px; }
        article section .content .avatar img {
          -moz-border-radius: 100px;
          -wedkit-border-radius: 100px;
          -ms-border-radius: 100px;
          border-radius: 100px; }
        article section .content .avatar .nombre {
          font-family: sourcesans-semibolditalic;
          text-align: center; }
      article section .content .contenido {
        flex: 1;
        margin: 20px;
        text-align: justify; }
        article section .content .contenido::first-line {
          font-size: 25px; }
      article section .content .fecha {
        font-size: 10px; }
    article section footer {
      padding: 10px;
      border-top: 3px solid #808080;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap; }
      article section footer img, article section footer span {
        cursor: pointer; }
      article section footer .more {
        background: #808080;
        padding: 30px; }
      article section footer .noShowImg {
        display: none; }

@keyframes showArticle {
  0% {
    transform: translate(-200px);
    opacity: 0; }
  100% {
    transform: translate(0px);
    opacity: 1; } }

footer div.footer1 {
  text-align: center;
  background: #414141;
  font-size: 11px; }
  footer div.footer1 a {
    color: #FFFFFF;
    display: block; }
    footer div.footer1 a:hover {
      text-shadow: 0.1em 0.1em 0.2em #7800ff; }

footer div.footer2 {
  text-align: center;
  background: #303030;
  font-size: 10px; }
  footer div.footer2 a {
    color: #FFFFFF;
    display: block; }
    footer div.footer2 a:hover {
      text-shadow: 0.1em 0.1em 0.2em #00ffe6; }

/*--- Alert ---*/
div#popad {
  display: none;
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  background: rgba(0, 0, 0, 0.5);
  flex-direction: colunm;
  justify-content: center;
  align-items: center; }
  div#popad div#popad-caja {
    min-width: 200px;
    width: 80%;
    max-width: 600px;
    min-height: 70px;
    max-height: 370px;
    background: #ecf0f1;
    border-radius: 10px; }
    div#popad div#popad-caja div#popad-title {
      display: flex;
      justify-content: space-between;
      border-radius: 10px 10px 0px 0px;
      text-align: center;
      background: #2e86c1;
      font-size: 20px;
      font-family: sourcesans-bolditalic; }
      div#popad div#popad-caja div#popad-title span#popad-titulo {
        width: 100%;
        text-align: center;
        margin-left: 45px;
        margin-right: 15px; }
      div#popad div#popad-caja div#popad-title span#popad-cerrar {
        margin-right: 20px;
        padding: 0px 5px; }
        div#popad div#popad-caja div#popad-title span#popad-cerrar:hover {
          cursor: pointer; }
    div#popad div#popad-caja div#popad-caja2 {
      overflow: auto;
      text-align: center;
      min-height: 45px;
      max-height: 345px;
      font-size: 18px;
      display: flex;
      flex-direction: column;
      align-items: center; }
      div#popad div#popad-caja div#popad-caja2 span#popad-info {
        width: 100%;
        margin: 10px; }
      div#popad div#popad-caja div#popad-caja2 img {
        width: 22px;
        height: 22px; }

#areaAlert {
  position: fixed;
  display: flex;
  z-index: 300;
  flex-direction: column;
  bottom: 0;
  right: 0;
  margin: 25px 10px;
  /*-- Colores de alerta ---*/ }
  #areaAlert .alert {
    max-height: 50px;
    max-width: 300px;
    background: #cce5ff;
    border: 1px solid #b8daff;
    -moz-border-radius: 5px;
    -wedkit-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    margin: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 9px; }
    #areaAlert .alert .aMessage {
      text-align: justify;
      width: 100%;
      color: #004085;
      font-family: sourcesans-light;
      font-size: 15px;
      overflow: auto; }
    #areaAlert .alert .aClose {
      cursor: pointer;
      font-family: sourcesans-bold;
      opacity: 0.4;
      padding: 5px 10px;
      margin-left: 5px;
      -moz-border-radius: 2px;
      -wedkit-border-radius: 2px;
      -ms-border-radius: 2px;
      border-radius: 2px;
      transition: 0.5s; }
      #areaAlert .alert .aClose:hover {
        opacity: 0.7; }
  #areaAlert .success {
    background: #cce5ff;
    border: 1px solid #b8daff; }
    #areaAlert .success .aMessage {
      color: #004085; }
  #areaAlert .danger {
    background: #f8d7da;
    border: 1px solid #f5c6cb; }
    #areaAlert .danger .aMessage {
      color: #721c24; }
  #areaAlert .warning {
    background: #fff3cd;
    border: 1px solid #ffeeba; }
    #areaAlert .warning .aMessage {
      color: #856404; }
  #areaAlert .info {
    background: #d6d8d9;
    border: 1px solid #c6c8ca; }
    #areaAlert .info .aMessage {
      color: #1b1e21; }

#showImg {
  display: none;
  position: fixed;
  overflow: auto;
  z-index: 200;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  align-items: center;
  justify-content: space-around;
  color: #FFFFFF; }
  #showImg #show img {
    width: 300px;
    height: 300px;
    max-width: 500px;
    max-height: 400px; }
  #showImg #showImgControl {
    position: fixed;
    bottom: 0;
    user-select: none;
    background: rgba(255, 255, 255, 0.6);
    padding: 5px;
    color: #111111;
    -moz-border-radius: 20px;
    -wedkit-border-radius: 20px;
    -ms-border-radius: 20px;
    border-radius: 20px; }
    #showImg #showImgControl span {
      font-size: 40px;
      cursor: pointer; }
    #showImg #showImgControl #showImgControlSeparator {
      margin-left: 100px; }
  #showImg #showImgOptions {
    position: fixed;
    top: 0;
    margin-top: 20px;
    user-select: none; }
    #showImg #showImgOptions span {
      cursor: pointer; }
    #showImg #showImgOptions #showImgOptionsSeparator {
      margin-left: 100px; }

div#cookies {
  display: none;
  padding: 10px;
  position: fixed;
  bottom: 0%;
  background: #e5e5e5; }
  div#cookies span.cookie_link {
    color: #5a747d;
    cursor: pointer; }
  div#cookies a.ok {
    width: 30%;
    min-width: 50px;
    align-self: center;
    background: #92b0bb;
    padding: 5px;
    border-radius: 10px;
    text-align: center; }

/* Media 720px */
@media (max-width: 720px) {
  main {
    width: 100%; }
  div#cookies {
    font-size: 0.8em; } }

/* Media 320px */
@media (max-width: 320px) {
  main {
    width: 85%; }
    main form div#loginText {
      font-size: 2em; }
    main form div#login-user input {
      width: 200px;
      height: 30px; }
    main form div#login-password input {
      width: 200px;
      height: 30px; }
  div#cookies {
    font-size: 0.6em; } }

