@font-face {
	font-family:sourcesans; 
	src: url(fonts/sourcesans/SourceSansPro-Regular.ttf); 
} @font-face {
	font-family:sourcesans-bold;
 	src: url(fonts/sourcesans/SourceSansPro-Bold.ttf); 
} @font-face {
	font-family:sourcesans-light; 
	src: url(fonts/sourcesans/SourceSansPro-Light.ttf); 
} @font-face {
	font-family:sourcesans-lightItalic; 
	src: url(fonts/sourcesans/SourceSansPro-LightItalic.ttf); 
} @font-face {
	font-family:sourcesans-italic; 
	src: url(fonts/sourcesans/SourceSansPro-Italic.ttf); 
} @font-face {
	font-family:sourcesans-semibolditalic; 
	src: url(fonts/sourcesans/SourceSansPro-SemiBoldItalic.ttf); 
}@font-face {
	font-family:sourcesans-bolditalic; 
	src: url(fonts/sourcesans/SourceSansPro-BoldItalic.ttf); 
}
@font-face {
  font-family: 'icomoon';
  src:  url(fonts/iconos/icomoon.eot);
  src:  url(fonts/iconos/icomoon.eot#iefix) format('embedded-opentype'),
    url(fonts/iconos/icomoon.ttf) format('truetype'),
    url(fonts/iconos/icomoon.woff) format('woff'),
    url(../img/icomoon.svg#icomoon) format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-power-off:before {
  content: "\f011";
}
.icon-clock-o:before {
  content: "\f017";
}
.icon-lock:before {
  content: "\f023";
}
.icon-book1:before {
  content: "\f02d";
}
.icon-image1:before {
  content: "\f03e";
}
.icon-photo:before {
  content: "\f03e";
}
.icon-picture-o:before {
  content: "\f03e";
}
.icon-edit:before {
  content: "\f044";
}
.icon-pencil-square-o:before {
  content: "\f044";
}
.icon-chevron-left:before {
  content: "\f053";
}
.icon-chevron-right:before {
  content: "\f054";
}
.icon-bell:before {
  content: "\f0f3";
}
.icon-unlock-alt:before {
  content: "\f13e";
}
.icon-user-circle:before {
  content: "\f2bd";
}
.icon-home3:before {
  content: "\e902";
}
.icon-newspaper:before {
  content: "\e904";
}
.icon-pencil:before {
  content: "\e905";
}
.icon-pencil2:before {
  content: "\e906";
}
.icon-quill:before {
  content: "\e907";
}
.icon-image:before {
  content: "\e90d";
}
.icon-images:before {
  content: "\e90e";
}
.icon-headphones:before {
  content: "\e910";
}
.icon-play:before {
  content: "\e912";
}
.icon-book:before {
  content: "\e91f";
}
.icon-books:before {
  content: "\e920";
}
.icon-file-text:before {
  content: "\e922";
}
.icon-file-empty:before {
  content: "\e924";
}
.icon-file-text2:before {
  content: "\e926";
}
.icon-file-zip:before {
  content: "\e92b";
}
.icon-address-book:before {
  content: "\e944";
}
.icon-database:before {
  content: "\e964";
}
.icon-bubble:before {
  content: "\e96b";
}
.icon-bubbles:before {
  content: "\e96c";
}
.icon-user:before {
  content: "\e971";
}
.icon-key:before {
  content: "\e98d";
}
.icon-cog:before {
  content: "\e994";
}
.icon-cogs:before {
  content: "\e995";
}
.icon-pie-chart:before {
  content: "\e99a";
}
.icon-stats-bars:before {
  content: "\e99c";
}
.icon-stats-bars2:before {
  content: "\e99d";
}
.icon-bin:before {
  content: "\e9ac";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-minus:before {
  content: "\ea0b";
}
.icon-terminal:before {
  content: "\ea81";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-steam:before {
  content: "\eaac";
}
.icon-paypal:before {
  content: "\ead8";
}
.icon-file-pdf:before {
  content: "\eadf";
}
.icon-file-word:before {
  content: "\eae1";
}
.icon-file-excel:before {
  content: "\eae2";
}

/* --
CSS Reseter
CSSLab � 2010 by Jorge Epu�an
http://www.csslab.cl/2010/06/01/css-reseter-v2/
-- */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, header, footer, hgroup, menu, nav, section, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
}

article, aside, nav, section, dialog, figure, header, footer, hgroup { 
    display:block;
}

legend {
	display:none;
}

:focus {
	outline: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

caption, th, td {
	text-align: left;
	font-weight: normal;
}

a img, iframe {
	border: none;
}

ul {
	list-style: none;
}

input, textarea, select, button {
	font-size: 100%;
	font-family: inherit;
}

input, select {
    vertical-align:middle;
}

select {
	margin: inherit;
}

/* Fixes incorrect placement of numbers in ol's in IE6/7 */
ol { margin-left:2em; }


/* ========================================= clearfix == */
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearfix {display: inline-block;}

* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* Links :3 */
div#cookies {
  display: none;
  z-index: 200;
  padding: 10px;
  position: fixed;
  bottom: 0%;
  background: #e5e5e5; }
  div#cookies span.cookie_link {
    color: #5a747d;
    cursor: pointer; }
  div#cookies a.ok {
    width: 30%;
    min-width: 50px;
    align-self: center;
    background: #92b0bb;
    padding: 5px;
    border-radius: 10px;
    text-align: center; }

/*-- Estilos Generales --*/
* {
  -webkit-box-sizing: boxer-box;
  -moz-box-sizing: boxer-box;
  box-sizing: boxer-box; }

html {
  background: #EAEAEA;
  font-family: sourcesans, Arial, Helvetica, Sans-serif;
  height: 100vh;
  /*-- Flex --*/
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

a {
  color: #111111;
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

main {
  flex: auto; }

header {
  background: #404040;
  display: flex;
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 54px;
  justify-content: space-between;
  align-items: center; }
  header .menu {
    margin-left: 20px;
    display: flex;
    font-size: 25px;
    color: #FFFFFF;
    padding: 3px;
    -moz-border-radius: 5px;
    -wedkit-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    transition: 0.2s; }
    header .menu:hover {
      background: rgba(0, 0, 0, 0.3); }
  header #buscador {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px; }
    header #buscador input {
      height: 30px;
      align-self: center;
      text-align: center;
      font-size: 18px;
      min-width: 0;
      width: 250px;
      max-width: 250px;
      background: #e7e7e7;
      border: 2px solid #404040;
      -moz-border-radius: 20px 20px 0px 0px;
      -wedkit-border-radius: 20px 20px 0px 0px;
      -ms-border-radius: 20px 20px 0px 0px;
      border-radius: 20px 20px 0px 0px;
      transition: 1s; }
      header #buscador input:focus {
        border-color: #505050;
        background: #fbfafa;
        box-shadow: 0px 0px 10px rgba(70, 70, 70, 0.5);
        transition: 1s; }
    header #buscador #search_status {
      display: none;
      position: absolute;
      font-size: 18px;
      width: 256px;
      max-width: 256px;
      margin-top: 9px;
      flex-direction: column;
      background: #fbfafa;
      padding: 5px 0px; }
      header #buscador #search_status span.datos {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 16px;
        cursor: pointer; }
        header #buscador #search_status span.datos:hover {
          background: rgba(0, 0, 0, 0.1); }
  header .avatar {
    user-select: none;
    display: flex;
    margin-right: 30px;
    align-items: center; }
    header .avatar img {
      -moz-border-radius: 100px;
      -wedkit-border-radius: 100px;
      -ms-border-radius: 100px;
      border-radius: 100px; }
    header .avatar .user {
      margin-right: 10px;
      color: #FFFFFF;
      font-size: 18px; }

main {
  display: flex; }
  main div#panel {
    user-select: none;
    position: fixed;
    top: 54px;
    background: #707070;
    border-right: 2px solid #606060;
    width: 248px;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    bottom: 0px;
    overflow-y: auto;
    z-index: 100; }
    main div#panel #title {
      align-self: center;
      text-align: center;
      font-size: 38px;
      padding: 5px 0px;
      color: #FFFFFF;
      border-bottom: 4px solid #606060;
      width: 100%; }
    main div#panel nav {
      flex: 1;
      display: flex;
      flex-direction: column; }
      main div#panel nav .titulo-panel {
        color: #3C3C3C;
        font-size: 25px;
        margin: 5px 10px;
        margin-top: 10px; }
      main div#panel nav .item-panel {
        font-size: 20px;
        padding: 5px;
        color: #D8D8D8; }
        main div#panel nav .item-panel:hover {
          background: #505050;
          color: #FFFFFF;
          border-left: 3px solid #59ADFF; }
        main div#panel nav .item-panel [class^="icon-"] {
          margin-left: 15px;
          margin-right: 10px; }
      main div#panel nav .active {
        background: #505050;
        color: #FFFFFF;
        border-left: 3px solid #59ADFF; }
  main #logo {
    text-align: center;
    padding: 5px;
    border-top: 4px solid #606060; }

/*-------------------------------------------------*/
/* contenido */
/*-------------------------------------------------*/
div#contenido {
  flex: 1;
  width: 100%;
  margin-top: 74px;
  margin-left: 248px;
  padding: 20px;
  -moz-border-radius: 50px;
  -wedkit-border-radius: 50px;
  -ms-border-radius: 50px;
  border-radius: 50px;
  text-align: center;
  /*-------------------------------------------------*/
  /* Box */
  /*-------------------------------------------------*/
  /*-------------------------------------------------*/
  /* Anuncios */
  /*-------------------------------------------------*/ }
  div#contenido .window {
    animation: showbox 1s;
    display: flex; }
    div#contenido .window span {
      cursor: pointer;
      padding: 10px;
      border: 1px solid #CBCBCB;
      background: #F1F1F1; }
    div#contenido .window .active {
      background: #FDFDFD; }
  div#contenido .box {
    background: #FDFDFD;
    padding: 20px 30px;
    border: 1px solid #CBCBCB;
    animation: showbox 1s; }
    div#contenido .box .title {
      font-size: 23px;
      display: block;
      text-align: left;
      font-family: sourcesans-italic;
      border-bottom: 1px solid #CCCCCC; }
    div#contenido .box .content {
      text-align: justify;
      margin-top: 20px;
      font-size: 17px;
      color: #383838; }
    div#contenido .box .inputText {
      text-align: center;
      font-size: 18px;
      min-width: 0px;
      width: 200px;
      max-width: 200px;
      height: 25px;
      background: #F9F9F9;
      border: 2px solid #909090;
      transition: 0.5s;
      -moz-border-radius: 5px;
      -wedkit-border-radius: 5px;
      -ms-border-radius: 5px;
      border-radius: 5px; }
      div#contenido .box .inputText:focus {
        color: #1F1F1F;
        border-color: #4c95df; }
    div#contenido .box button {
      cursor: pointer;
      border: none;
      border: 2px solid #909090;
      background: #F9F9F9;
      padding: 5px 25px;
      -moz-border-radius: 10px;
      -wedkit-border-radius: 10px;
      -ms-border-radius: 10px;
      border-radius: 10px;
      font-family: sourcesans-semibolditalic;
      color: #707070;
      transition: 0.5s; }
      div#contenido .box button:hover {
        transform: scale(1.1);
        border-color: #4c95df; }
    div#contenido .box select {
      margin: 5px;
      border: none;
      padding: 5px 20px;
      -moz-border-radius: 5px;
      -wedkit-border-radius: 5px;
      -ms-border-radius: 5px;
      border-radius: 5px;
      border: 2px solid #909090;
      background-color: #fff;
      background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"), linear-gradient(to bottom, #ffffff 0%, #f7f7f7 100%);
      background-repeat: no-repeat, repeat;
      background-position: right .7em top 50%, 0 0;
      background-size: .65em auto, 100%;
      appearance: none;
      box-sizing: border-box;
      -moz-appearance: none;
      -webkit-appearance: none;
      min-width: 0px;
      width: 150px;
      transition: 0.5s; }
      div#contenido .box select::-ms-expand {
        display: none; }
      div#contenido .box select:hover {
        border-color: #4c95df; }
      div#contenido .box select:focus {
        border-color: #4c95df; }
  div#contenido .announces {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 30px; }
    div#contenido .announces .abox {
      margin: 10px 10px;
      margin-top: 0px;
      padding: 5px 10px;
      background: #FDFDFD;
      border: 1px solid #CBCBCB;
      display: flex;
      align-items: center;
      animation: showbox 1s;
      /*-------------------------------------------------*/
      /* Colores de circulos */
      /*-------------------------------------------------*/ }
      div#contenido .announces .abox .circulo {
        background: #272727;
        color: #FFFFFF;
        -moz-border-radius: 100px;
        -wedkit-border-radius: 100px;
        -ms-border-radius: 100px;
        border-radius: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 60px;
        height: 60px;
        font-family: sourcesans-bold;
        margin-right: 10px;
        animation: Introcirculos 2s 1s both; }
      div#contenido .announces .abox .text {
        align-self: center;
        font-size: 18px; }
      div#contenido .announces .abox .azul {
        background: #4879FC; }
      div#contenido .announces .abox .amarillo {
        background: #F8C822; }
      div#contenido .announces .abox .rojo {
        background: #FC4850; }
      div#contenido .announces .abox .morado {
        background: #b448fc; }

/*-------------------------------------------------*/
/* Animaciones */
/*-------------------------------------------------*/
@keyframes Introcirculos {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }

@keyframes showbox {
  0% {
    transform: translate(200px);
    opacity: 0; }
  100% {
    transform: translate(0px);
    opacity: 1; } }

#tregistros {
  min-height: 200px;
  max-height: 65vh;
  overflow: auto;
  width: 100%;
  margin: auto;
  margin-top: 20px; }
  #tregistros table {
    width: 99%;
    margin: auto;
    table-layout: fixed; }
    #tregistros table thead {
      background: #59ADFF; }
      #tregistros table thead td {
        text-align: center;
        height: 40px;
        -moz-border-radius: 10px 0px 0px 0px;
        -wedkit-border-radius: 10px 0px 0px 0px;
        -ms-border-radius: 10px 0px 0px 0px;
        border-radius: 10px 0px 0px 0px; }
        #tregistros table thead td:nth-child(2n) {
          -moz-border-radius: 0px 10px 0px 0px;
          -wedkit-border-radius: 0px 10px 0px 0px;
          -ms-border-radius: 0px 10px 0px 0px;
          border-radius: 0px 10px 0px 0px; }
    #tregistros table tbody tr {
      background: #eaeaea; }
      #tregistros table tbody tr:nth-child(2n) {
        background: #a8a8a8; }
      #tregistros table tbody tr td {
        text-align: center;
        padding: 5px 0px;
        border: 1px solid rgba(0, 0, 0, 0.2); }
        #tregistros table tbody tr td button {
          margin: 5px; }
      #tregistros table tbody tr .cedula {
        color: #0074D9;
        cursor: pointer; }

#m-formU {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }
  #m-formU .m-div1 {
    margin-top: 20px;
    display: flex; }
    #m-formU .m-div1 span {
      cursor: pointer;
      font-size: 18px;
      border: 1px solid #CBCBCB;
      padding: 10px;
      background: #DCDCDC;
      transition: 0.5s; }
    #m-formU .m-div1 .active {
      background: #59ADFF; }
  #m-formU .m-div2 {
    margin-top: 20px; }
    #m-formU .m-div2 input {
      margin: 5px; }
  #m-formU .m-div3 {
    margin-top: 20px;
    display: flex; }
    #m-formU .m-div3 span {
      cursor: pointer;
      font-size: 18px;
      border: 1px solid #CBCBCB;
      padding: 10px;
      background: #DCDCDC;
      transition: 0.5s; }
    #m-formU .m-div3 .active {
      background: #59ADFF; }
  #m-formU .m-div4 {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
  #m-formU .m-div5 {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 10px; }

#m-formP {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }
  #m-formP .m-div1 {
    margin-top: 20px;
    display: flex;
    justify-content: center; }
  #m-formP .m-div2 {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: center; }
  #m-formP .m-div3 {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 10px; }

#ma-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }
  #ma-form .ma-div1 {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    align-items: center; }
  #ma-form .ma-div2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px; }
    #ma-form .ma-div2 select {
      width: 400px; }
  #ma-form .ma-div3 {
    margin-top: 30px;
    margin-bottom: 10px; }

#b-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }
  #b-form .b-div1 {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    align-items: center; }
  #b-form .b-div2 {
    margin-top: 20px; }
  #b-form .b-div3 {
    margin-top: 30px;
    margin-bottom: 10px; }

#c-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }
  #c-form .c-div1 {
    display: flex;
    justify-content: center;
    margin-top: 20px; }
    #c-form .c-div1 span {
      cursor: pointer;
      font-size: 18px;
      border: 1px solid #CBCBCB;
      padding: 10px;
      background: #DCDCDC;
      transition: 0.5s; }
    #c-form .c-div1 .active {
      background: #59ADFF; }
  #c-form .c-div2 {
    margin-top: 20px; }
  #c-form .c-div3 {
    margin-top: 20px; }
  #c-form .c-div4 {
    margin-top: 20px; }
  #c-form .c-div5 {
    margin-top: 20px; }
  #c-form .c-div6 {
    margin-top: 30px;
    margin-bottom: 10px; }

#bo-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }
  #bo-form .bo-div1 {
    display: flex;
    justify-content: center;
    margin-top: 20px; }
    #bo-form .bo-div1 span {
      cursor: pointer;
      font-size: 18px;
      border: 1px solid #CBCBCB;
      padding: 10px;
      background: #DCDCDC;
      transition: 0.5s; }
    #bo-form .bo-div1 .active {
      background: #59ADFF; }
  #bo-form .bo-div2 {
    margin-top: 20px; }
  #bo-form .bo-div3 {
    margin-top: 30px;
    margin-bottom: 10px; }

#infoU-datos {
  margin-top: 20px;
  color: #383838;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; }
  #infoU-datos span {
    margin-bottom: 10px; }

#c-contenido-constancias .cons-div1 {
  color: #383838;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  #c-contenido-constancias .cons-div1 a {
    font-size: 18px;
    padding: 10px 20px;
    margin: 10px;
    -moz-border-radius: 15px;
    -wedkit-border-radius: 15px;
    -ms-border-radius: 15px;
    border-radius: 15px;
    transition: 0.5s; }
  #c-contenido-constancias .cons-div1 .cons-estu:hover {
    background: #e2a463; }
  #c-contenido-constancias .cons-div1 .cons-asis:hover {
    background: #165fb3; }
  #c-contenido-constancias .cons-div1 .cons-bc:hover {
    background: #ea75fa; }
  #c-contenido-constancias .cons-div1 .cons-acept:hover {
    background: #78aa39; }
  #c-contenido-constancias .cons-div1 .cons-soli:hover {
    background: #52b08d; }

#an-form {
  display: flex;
  flex-direction: column;
  align-items: center; }
  #an-form .an-div1 {
    margin-top: 20px; }
  #an-form .an-div2 {
    margin-top: 20px;
    display: flex;
    flex-direction: column; }
  #an-form .an-div3 {
    margin-top: 20px; }
  #an-form .an-div4 {
    margin-top: 30px;
    margin-bottom: 10px; }
  #an-form #an-textarea {
    height: 300px;
    width: 600px;
    max-width: 600px;
    text-align: justify; }

#cr-pn {
  display: flex;
  flex-direction: column;
  align-items: center; }
  #cr-pn .cr-pndiv1 {
    margin-top: 20px; }
  #cr-pn .cr-pndiv2 {
    margin-top: 20px;
    display: flex;
    flex-direction: column; }
  #cr-pn .cr-pndiv3 {
    margin-top: 20px; }
  #cr-pn .cr-pndiv4 {
    margin-top: 30px;
    margin-bottom: 10px; }
  #cr-pn #cr-pnTextarea {
    height: 300px;
    width: 600px;
    max-width: 600px;
    text-align: justify; }

#boNot-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }
  #boNot-form .boNot-div1 {
    display: flex;
    justify-content: center;
    margin-top: 20px; }
    #boNot-form .boNot-div1 span {
      cursor: pointer;
      font-size: 18px;
      border: 1px solid #CBCBCB;
      padding: 10px;
      background: #DCDCDC;
      transition: 0.5s; }
    #boNot-form .boNot-div1 .active {
      background: #59ADFF; }
  #boNot-form .boNot-div2 {
    margin-top: 20px; }
  #boNot-form .boNot-div3 {
    margin-top: 30px;
    margin-bottom: 10px; }

#ava-form .ava-div1 {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; }

#ava-form .ava-div2 {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  #ava-form .ava-div2 img {
    -moz-border-radius: 100px;
    -wedkit-border-radius: 100px;
    -ms-border-radius: 100px;
    border-radius: 100px; }

#ava-form .ava-div3 {
  margin-top: 30px;
  margin-bottom: 10px; }

#pc-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }
  #pc-form span {
    font-size: 20px; }
  #pc-form .pc-div1 {
    margin: 5px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; }
  #pc-form .pc-div2 {
    margin: 5px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    #pc-form .pc-div2 div {
      margin: 0px 10px;
      display: flex;
      flex-direction: column;
      align-items: center; }
  #pc-form .pc-div3 {
    margin-top: 30px;
    margin-bottom: 10px; }

/*--- Alert ---*/
div#popad {
  display: none;
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  background: rgba(0, 0, 0, 0.5);
  flex-direction: colunm;
  justify-content: center;
  align-items: center; }
  div#popad div#popad-caja {
    min-width: 200px;
    width: 80%;
    max-width: 600px;
    min-height: 70px;
    max-height: 370px;
    background: #e7e7e7;
    border-radius: 10px; }
    div#popad div#popad-caja div#popad-title {
      display: flex;
      justify-content: space-between;
      border-radius: 10px 10px 0px 0px;
      text-align: center;
      background: #2ea4c1;
      font-size: 20px;
      font-family: sourcesans-bolditalic; }
      div#popad div#popad-caja div#popad-title span#popad-titulo {
        width: 100%;
        text-align: center;
        margin-left: 45px;
        margin-right: 15px; }
      div#popad div#popad-caja div#popad-title span#popad-cerrar {
        margin-right: 20px;
        padding: 0px 5px;
        cursor: pointer; }
    div#popad div#popad-caja div#popad-caja2 {
      overflow: auto;
      text-align: center;
      min-height: 45px;
      max-height: 345px;
      font-size: 18px;
      display: flex;
      flex-direction: column;
      align-items: center; }
      div#popad div#popad-caja div#popad-caja2 button {
        cursor: pointer;
        border: none;
        border: 2px solid #909090;
        background: #F9F9F9;
        padding: 5px 25px;
        -moz-border-radius: 10px;
        -wedkit-border-radius: 10px;
        -ms-border-radius: 10px;
        border-radius: 10px;
        font-family: sourcesans-semibolditalic;
        color: #707070;
        transition: 0.5s; }
        div#popad div#popad-caja div#popad-caja2 button:hover {
          transform: scale(1.03);
          border-color: #4c95df; }
      div#popad div#popad-caja div#popad-caja2 span#popad-info {
        width: 100%;
        margin: 10px; }
        div#popad div#popad-caja div#popad-caja2 span#popad-info div#options {
          margin: 5px; }
          div#popad div#popad-caja div#popad-caja2 span#popad-info div#options button {
            margin: 2px; }

#areaAlert {
  position: fixed;
  z-index: 300;
  display: flex;
  flex-direction: column;
  bottom: 0;
  right: 0;
  margin: 25px 10px;
  /*-- Colores de alerta ---*/ }
  #areaAlert .alert {
    max-height: 50px;
    max-width: 300px;
    background: #cce5ff;
    border: 1px solid #b8daff;
    -moz-border-radius: 5px;
    -wedkit-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    margin: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 9px; }
    #areaAlert .alert .aMessage {
      text-align: justify;
      width: 100%;
      color: #004085;
      font-family: sourcesans-light;
      font-size: 15px;
      overflow: auto; }
    #areaAlert .alert .aClose {
      cursor: pointer;
      font-family: sourcesans-bold;
      opacity: 0.4;
      padding: 5px 10px;
      margin-left: 5px;
      -moz-border-radius: 2px;
      -wedkit-border-radius: 2px;
      -ms-border-radius: 2px;
      border-radius: 2px;
      transition: 0.5s; }
      #areaAlert .alert .aClose:hover {
        opacity: 0.7; }
  #areaAlert .success {
    background: #cce5ff;
    border: 1px solid #b8daff; }
    #areaAlert .success .aMessage {
      color: #004085; }
  #areaAlert .danger {
    background: #f8d7da;
    border: 1px solid #f5c6cb; }
    #areaAlert .danger .aMessage {
      color: #721c24; }
  #areaAlert .warning {
    background: #fff3cd;
    border: 1px solid #ffeeba; }
    #areaAlert .warning .aMessage {
      color: #856404; }
  #areaAlert .info {
    background: #d6d8d9;
    border: 1px solid #c6c8ca; }
    #areaAlert .info .aMessage {
      color: #1b1e21; }

/*-------------------------------------------------*/
/* 720px */
/*-------------------------------------------------*/
@media (max-width: 720px) {
  main {
    /*MOBILE PANEL*/ }
    main div#panel {
      left: -252px; }
    main div#contenido {
      margin-left: 0px; }
  div#cookies {
    font-size: 0.8em; } }

@media (max-width: 600px) {
  main div#contenido .mobile-fixTable {
    display: none; }
  main div#contenido .cedula {
    padding: 10px; }
  main div#contenido thead tr {
    display: flex;
    flex-direction: column;
    width: 100%; }
    main div#contenido thead tr td {
      padding: 5px;
      height: auto; }
  main div#contenido tbody tr {
    display: flex;
    flex-direction: column; } }

/* Media 320px */
@media (max-width: 520px) {
  /*Header*/
  header span.menu {
    margin-left: 15px; }
  header div#buscador {
    margin-left: 0px; }
    header div#buscador input {
      width: 45vw; }
    header div#buscador div#search div#search_status {
      width: 46vw; }
      header div#buscador div#search div#search_status span.datos {
        font-size: 12px;
        height: 20px; }
  header .avatar .user {
    display: none; }
  /*FIX DIVS*/
  main div#contenido div.box {
    padding: 16px 21px; }
  main div#contenido div.m-div3 span {
    font-size: 16px;
    padding: 8px; }
  main div#contenido div.ma-div1 input {
    width: 200px; }
  main div#contenido div.b-div1 input {
    width: 200px; }
  main div#contenido .cr-pndiv3 input {
    width: 200px; }
  main div#contenido #cr-pnTextarea {
    width: 200px;
    height: 250px; }
  main div#contenido #an-textarea {
    width: 200px;
    height: 250px; }
  main div#contenido .ava-div1 input {
    width: 200px; }
  div#cookies {
    font-size: 0.6em; } }

/*-------------------------------------------------*/
/* Bootstrap */
/*-------------------------------------------------*/

