.RotateImg {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 0;
  animation: zoom 20s infinite alternate;
  img {
    width: 100%;
    height: 100%;
  }
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.2);
  }
}