/* Container */
.Container {
	padding: 0px 24px;
	margin: auto;
  margin-top: 80px !important;
	max-width: 1250px;
}

/* Header */
.Header {
	background: $primary;
	height: 50px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.Header--Dark {
	background: $primaryDark !important;
}

.Header__Nav--Auth {
	justify-content: space-between !important;
}

.Header__Nav {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 100%;
	margin: 0px 10px;
}

.Header__Button {
	margin-left: 10px;
	display: inline-block;
}

/* Drawer */
.HeadDrawer {
	height: 50px;
  background: $primary;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.HeadDrawer--Dark {
	background: $primaryDark !important;
}

.HeadDrawer__Text {
	font-size: 30px;
	font-weight: 500;
	margin-left: 15px;
	user-select: none;
}

.HeadDrawer__Button {
	margin-right: 15px !important;
}

/* Fix Styles */

//FIX LOADING IN DIALOG
.MuiDialogContent-root {
  display: flex;
  flex-direction: column;
  .MuiCircularProgress-root {
    align-self: center;
  }
}