div#cookies
	display: none
	padding: 10px
	position: fixed
	bottom: 0
	-webkit-backface-visibility: hidden
	background: #ecf0f1
	a.link
		color: #5a747d
	a.ok
		width: 50%
		align-self: center
		background: #92b0bb
		padding: 7px
		border-radius: 10px
		text-align: center