header.nav
	height: 54px
	position: fixed
	width: 100%
	z-index: 100
	background: #404040
	nav
		height: 100%
		display: flex
		justify-content: flex-end
		align-items: center
		margin-right: 50px
		a
			font-size: 18px
			font-family: sourcesans-bolditalic
			color: #d8d8d8
			transition: 0.5s
			border-bottom: 1px solid #d8d8d8
			margin: 0px 10px
			&:hover
				color: $white