#showImg
  display: none
  position: fixed
  flex-direction: column
  width: 100%
  height: 100%
  background: rgba(0,0,0,0.6)
  align-items: center
  justify-content: space-around
  color: $white
  #showImgControl
    user-select: none
    background: rgba(255,255,255,0.6)
    padding: 5px
    color: $black
    +border_radius(20px)
    span
      font-size: 40px
      cursor: pointer
    #showImgControlSeparator
      margin-left: 100px
  #showImgOptions
    user-select: none
    span
      cursor: pointer
    #showImgOptionsSeparator
      margin-left: 100px
