body {
    margin: 0;
    background: red;
  overflow-Y: hidden; /*quitar el scroll*/
}
.encabezado {
    position: relative;
	font-family: "Minecraftia";
    src: url("../fonts/MinecrafterAlt.ttf");
    margin: 0;
	color: #000000;
    font-size: 18px;
    position: absolute;
}
.container {
    position: absolute;
    
    
	background-image: url(Dirt.jpg);
    background-size: 50px 50px;
    width: 100%;
    min-height: 100vh;
    display: flex;
}

.preloader {
    margin: auto;
    
    width: 350px;
    height: 8px;
    background: rgba(255,255,255,0.2);
    
    position: relative;
}

.preloader:before {
    content: "";
    position: absolute;
    background: #84C25A;
    width: 0;
    height: 8px;
    
    animation: preloader 1s infinite;
}

.preloader p {
    margin: 0;
    line-height: 30px;
    font-size: 18px;
    font-weight: bold;
    
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.text-preloader {
    font-family: "Minecraftia";
    src: url("../fonts/Minecraftia.ttf");
    margin: 0;
	color: #FFFFFF;
    line-height: 30px;
    font-size: 18px;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
}

.cerrar {
    transform: translateY(-100%);
    transition: all 0.5s;
}

@keyframes preloader {
    90% {
        width: 100%;
        opacity: 1;
    }
    100% {
        width: 100%;
        opacity: 0;
    }
}

.grid {
  display: grid;
  width: 1024px;
  grid-template-columns: repeat(16, 64px);
  grid-template-rows: repeat(32, 64px);
}
@font-face {
    font-family: "Minecraftia";
    src: url("fonts/Minecraftia.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Minecrafter.Alt";
    src: url("fonts/Minecrafter.Alt.ttf");
    font-weight: normal;
    font-style: normal;
}
.title{
	font-family: 'Minecrafter.Alt';
	color: #00000;
	font-size: 2em;
	text-align: center;
    left: 50%;
    top: 30%;
	background-color: #84CAE7;
    width: 1024px;
    height: 128px;
}
.nav-main ul li a {
	color: #fff;
	font-family: 'Minecraftia';
}