.drawerMenu {
  height: 50px;
  background: $primary;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .TextHead {
    font-size: 30px;
    font-weight: 500;
    margin-left: 15px;
    user-select: none;
  }
  //Fix style
  button {
    margin-right: 15px;
  }
}

.ToolTipDrawerMenu-Title {
  font-size: 15px;
  font-style: italic;
}

.ToolTipDrawerMenu-Content {
  margin-top: 5px;
}

.BoxPagePanel {
  main {
    margin: 10px;
    margin-top: 80px;
    //Fix margin top GRID
    .FixGrid {
      margin-top: 10px;
    }
    .Box {
      padding: 20px 20px;
      //Fix select
      .select {
        margin-top: 10px
      }
      .title {
        font-size: 23px;
        border-bottom: 1px solid #CCCCCC;
        display: block;
      }
      .content {
        p {
          margin-bottom: 0px;
        }
        form {
          margin-top: 20px
        }
      }
    }
    .Status {
      display: flex;
      align-items: center;
      height: 70px;
      .circulo {
        color: $white;
        min-width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        @include border-radius(100px);
        margin-right: 20px;
        margin-left: 5px;
      }
      .text {
        align-self: center;
        font-size: 18px;
      }
    }
  }
}

.searchSeccion {
  display: flex;
  justify-content: space-between
}

.searchUser{
  transition: 0.5s;
  &:hover {
    background: rgba(255, 255, 255, 0.09);
  }
}

.searchBoxInfo {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

//FIX LOADING IN DIALOG
.MuiDialogContent-root {
  display: flex;
  flex-direction: column;
  .MuiCircularProgress-root {
    align-self: center;
  }
}