main
	display: flex
	//PANEL
	div#panel
		position: fixed
		top: 54px
		background: #e7e7e7
		border-right: 2px solid $black
		width: 248px
		min-width: 250px
		display: flex
		bottom: 0px
		flex-direction: column
		img#avatar
			background: $white
			top: -30px
			position: absolute
			border: 5px solid #CACACA
			align-self: center
			+border_radius(100px)
		span#user
			align-self: center
			text-align: center
			font-size: 25px
			font-family: sourcesans-light
			margin-top: 110px
			width: 100%
		nav#panel
			border-top: 2px solid $black
			border-bottom: 2px solid $black
			color: $black
			flex: auto
			display: flex
			flex-direction: column
			font-size: 18px
			overflow-y: auto
			+border_radius(10px)
			p.titulo-panel
				width: 90%
				padding: 5px 0px
				margin: auto
				text-align: left
				cursor: pointer
				opacity: 0.7
				transition: 0.5s
				span
					font-size: 12px
					opacity: 0.8
			div.div-fix2
				display: none
			div.panel-content
				width: 100%
				display: flex
				align-items: center
				flex-direction: column
				span.item-panel
					width: 80%
					margin: 5px 0px
					padding: 5px 0px
					padding-left: 10px
					transition: 0.5s
					opacity: 0.7
					cursor: pointer
					+border_radius(0px 10px 10px 0px)
					&:hover
						background: rgba(0,0,0,0.6)
						opacity: 1
						color: $white
						transform: scale(1.05)
					span
						margin-right: 10px
				a.item-panel
					width: 80%
					margin: 5px 0px
					padding: 5px 0px
					padding-left: 10px
					transition: 0.5s
					opacity: 0.7
					cursor: pointer
					display: flex
					align-items: center
					+border_radius(0px 10px 10px 0px)
					position: relative
					&:hover
						background: rgba(0,0,0,0.6)
						opacity: 1
						color: $white
						transform: scale(1.05)
					span
						margin-right: 10px
		span#logo
			background: #e7e7e7
			height: 40px
			display: flex
			justify-content: center
			align-items: center
	//CONTENIDO
	div#contenido
		border: 8px solid #3074ab
		background: rgb(228, 228, 228)
		flex: 1
		width: 100%
		margin-top: 74px
		margin-left: 270px
		margin-bottom: 20px
		margin-right: 20px
		padding: 20px
		+border_radius(50px)
		display: flex
		flex-direction: column
		align-items: center
		//Titulos
		span#c-titulo-bienvenidos
			font-size: 30px
			font-family: sourcesans-Bold
			padding: 5px 15px
			background: #3397ff
			+border_radius(15px)
			margin-bottom: 10px
		span#c-titulo-registros
			display: none
			font-size: 30px
			font-family: sourcesans-Bold
			padding: 5px 15px
			background: #3397ff
			+border_radius(15px)
			margin-bottom: 10px
			span
				margin-right: 10px
		span#c-titulo-modificar
			text-align: center
			display: none
			font-size: 30px
			font-family: sourcesans-Bold
			padding: 5px 15px
			background: #b891e4
			+border_radius(15px)
			margin-bottom: 10px
			span
				margin-right: 10px
		span#c-titulo-matricula
			text-align: center
			display: none
			font-size: 30px
			font-family: sourcesans-Bold
			padding: 5px 15px
			background: #91bfe4
			+border_radius(15px)
			margin-bottom: 10px
			span
				margin-right: 10px
		span#c-titulo-boletas
			text-align: center
			display: none
			font-size: 30px
			font-family: sourcesans-Bold
			padding: 5px 15px
			background: #6cdf53
			+border_radius(15px)
			margin-bottom: 10px
			span
				margin-right: 10px
		span#c-titulo-configuracion
			text-align: center
			display: none
			font-size: 30px
			font-family: sourcesans-Bold
			padding: 5px 15px
			background: #DF9053
			+border_radius(15px)
			margin-bottom: 10px
			span
				margin-right: 10px
		span#c-titulo-borrar
			text-align: center
			display: none
			font-size: 30px
			font-family: sourcesans-Bold
			padding: 5px 15px
			background: #DF5392
			+border_radius(15px)
			margin-bottom: 10px
			span
				margin-right: 10px
		span#c-titulo-opciones
			text-align: center
			display: none
			font-size: 30px
			font-family: sourcesans-Bold
			padding: 5px 15px
			background: #DF5392
			+border_radius(15px)
			margin-bottom: 10px
			span
				margin-right: 10px
		span#c-titulo-informacion
			text-align: center
			display: none
			font-size: 30px
			font-family: sourcesans-Bold
			padding: 5px 15px
			background: #91bfe4
			+border_radius(15px)
			margin-bottom: 10px
			span
				margin-right: 10px
		span#c-titulo-constancias
			text-align: center
			display: none
			font-size: 30px
			font-family: sourcesans-Bold
			padding: 5px 15px
			background: #ce69e4
			+border_radius(15px)
			margin-bottom: 10px
			span
				margin-right: 10px
		//Contenido
		form
			display: flex
			flex-direction: column
			align-items: center
			justify-content: space-around
			height: 100%
		div#c-contenido-bienvenidos
			width: 100%
			text-align: justify
			font-size: 20px
			margin-top: 10px
		div#c-contenido-registros
			text-align: center
			display: none
			font-size: 20px
			margin-top: 10px
			width: 100%
			.contenedor
				min-height: 200px
				max-height: 65vh
				overflow: auto
				width: 100%
				margin: auto
			table
				width: 99%
				margin: auto
				table-layout: fixed
				thead
					background: #1192b2
					td
						text-align: center
						height: 40px
						+border_radius(10px 0px 0px 0px)
						&:nth-child(2n)
							+border_radius(0px 10px 0px 0px)
				tbody
					tr
						background: #eaeaea
						&:nth-child(2n)
							background: #a8a8a8
						td
							text-align: center
							padding: 5px 0px
							border: 1px solid rgba(0,0,0,0.2)
						.cedula
							color: $blue
							cursor: pointer
		div#c-contenido-modificar
			flex: auto
			display: none
			margin-top: 10px
			width: 100%
			div#m-selector
				width: 100%
				display: flex
				justify-content: flex-start
				select
					margin-left: 45px
			form#form_modificar_prof
				display: none
			div.m-div1
				display: flex
				justify-content: center
				margin: 10px 10px
				flex-wrap: wrap
				width: 100%
				input
					margin: 0px 10px
				select
					align-self: center
			div.m-options
				margin: 5px
			input
				height: 25px
				align-self: center
				text-align: center
				font-size: 18px
				min-width: 0
				width: 230px
				max-width: 250px
				background: #f7f7f7
				border: solid 2px #4d4b4b
				+border-radius(10px)
				transition: 1s
				&:focus
					border: solid 2px #4d4c4c
					background: #fbfafa
					box-shadow: 0px 0px 10px rgba(70, 70, 70, 0.5)
					transition: 1s
		div#c-contenido-matricula
			margin-top: 10px
			display: none
			flex: auto
			text-align: center
		div#c-contenido-boletas
			margin-top: 10px
			display: none
			flex: auto
			text-align: center
		div#c-contenido-configuracion
			margin-top: 10px
			display: none
			flex: auto
			text-align: center
			span
				font-size: 20px
			input#n_user
				height: 25px
				align-self: center
				text-align: center
				font-size: 18px
				min-width: 0
				width: 230px
				max-width: 250px
				background: #f7f7f7
				border: solid 2px #4d4b4b
				+border-radius(10px)
				transition: 1s
				&:focus
					border: solid 2px #4d4c4c
					background: #fbfafa
					box-shadow: 0px 0px 10px rgba(70, 70, 70, 0.5)
					transition: 1s
		div#c-contenido-borrar
			flex: auto
			display: none
			margin-top: 10px
			text-align: center
		div#c-contenido-opciones
			flex: auto
			display: none
			margin-top: 10px
			text-align: center
			width: 100%
			span
				font-size: 20px
			div#pass-actual
				display: flex
				flex-direction: column
			div#pass-new
				display: flex
				justify-content: space-around
				width: 100%
				flex-wrap: wrap
				div
					display: flex
					flex-direction: column
			input
				height: 25px
				align-self: center
				text-align: center
				font-size: 18px
				min-width: 0
				width: 230px
				max-width: 250px
				background: #f7f7f7
				border: solid 2px #4d4b4b
				+border-radius(10px)
				transition: 1s
				&:focus
					border: solid 2px #4d4c4c
					background: #fbfafa
					box-shadow: 0px 0px 10px rgba(70, 70, 70, 0.5)
							transition: 1s
		div#c-contenido-informacion
			flex: auto
			display: none
			margin-top: 10px
			text-align: center
			font-size: 23px
			height: 100%
			div#informacion
				display: flex
				flex-direction: column
				justify-content: space-around
				height: 100%
		div#c-contenido-constancias
			flex: auto
			display: none
			margin-top: 10px
			text-align: center
			width: 100%
			height: 100%
			div#constancias
				display: flex
				flex-direction: column
				justify-content: space-around
				height: 100%
				width: 100%
				div.row
					display: flex
					justify-content: space-around
					flex-wrap: wrap
					a
						font-size: 18px
					a.estu
						padding: 10px 20px
						margin: 10px
						+border_radius(15px)
						transition: 1s
						&:hover
							background: #e2a463
					a.assi
						padding: 10px 20px
						margin: 10px
						+border_radius(15px)
						transition: 1s
						&:hover
							background: #165fb3
					a.bn_con
						padding: 10px 20px
						margin: 10px
						+border_radius(15px)
						transition: 1s
						&:hover
							background: #ea75fa
					a.acept_cup
						padding: 10px 20px
						margin: 10px
						+border_radius(15px)
						transition: 1s
						&:hover
							background: #78aa39
					a.solici
						padding: 10px 20px
						margin: 10px
						+border_radius(15px)
						transition: 1s
						&:hover
							background: #52b08d