#form_matricula
  display: flex
  flex-direction: column
  flex-wrap: wrap
  .ma-div1
    display: flex
    margin-top: 20px
    flex-direction: column
    align-items: center
  .ma-div2
    margin-top: 20px
  .ma-div3
    margin-top: 30px
    margin-bottom: 10px