/* Links :3 */
@import url("fuentes.css");
@import url("iconos.css");
@import url("reset.css");
/*-- Estilos Generales --*/
* {
  -webkit-box-sizing: boxer-box;
  -moz-box-sizing: boxer-box;
  box-sizing: boxer-box;
}

body {
  background: url(../img/fondo.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: sourcesans, Arial, Helvetica, Sans-serif;
  min-height: 100vh;
  /*-- Flex --*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a {
  color: #111111;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

/*-- Cajas --*/
header {
  background: #295b85;
}

main {
  margin: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: auto;
}

header {
  box-shadow: 0.1em 0.1em 0.4em #143b5c;
}
header div.m-menu {
  display: none;
}
header div.caja-menu {
  width: 94%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header div.caja-menu img.logo {
  background: #d7dfe4;
  -moz-border-radius: 0px 15px 15px;
  -wedkit-border-radius: 0px 15px 15px;
  -ms-border-radius: 0px 15px 15px;
  border-radius: 0px 15px 15px;
  padding: 3px;
}
header div.caja-menu img.m-logo {
  display: none;
}
header div.caja-menu span.menu-text {
  font-size: 30px;
  color: #FFFFFF;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.2);
  padding: 1px 20px;
}
header div.caja-menu nav {
  margin: 4px;
  display: flex;
}
header div.caja-menu nav a {
  margin: 0px 5px;
  padding: 13px 20px;
  font-size: 16px;
  color: #FFFFFF;
  font-family: sourcesans;
  -moz-border-radius: 10px;
  -wedkit-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  transition: 1s;
}
header div.caja-menu nav a:hover {
  background: rgba(0, 0, 0, 0.2);
  text-shadow: 0.1em 0.1em 0.2em #FFFFFF;
}
header div.caja-menu nav a:active {
  background: rgba(0, 0, 0, 0.1);
  text-shadow: 0.1em 0.1em 0.2em #111111;
  transition: 0.1s;
}
header div.caja-menu nav a span {
  margin-right: 10px;
  text-align: center;
}
header div.caja-menu nav a.actual {
  background: rgba(0, 0, 0, 0.2);
}
header div.caja-menu nav a.actual:active {
  background: rgba(0, 0, 0, 0.1);
  text-shadow: 0.1em 0.1em 0.2em #111111;
  transition: 0.1s;
}

div.admin-caja {
  display: flex;
  flex-direction: column;
}
div.admin-caja h2 {
  margin-top: 100px;
  text-align: center;
  font-size: 70px;
  font-family: sourcesans-boldItalic;
}
div.admin-caja div.admin-contenedor {
  flex: auto;
  background: #e4e4e4;
  -moz-border-radius: 15px;
  -wedkit-border-radius: 15px;
  -ms-border-radius: 15px;
  border-radius: 15px;
  margin: 20px;
  margin-top: 200px;
  display: flex;
  flex-direction: column;
}
div.admin-caja div.admin-menu div.admin-mobi-m {
  display: none;
}
div.admin-caja div.admin-menu div.fix-slideToggle {
  display: block;
}
div.admin-caja div.admin-menu div.fix-slideToggle div.admin-m {
  display: flex;
  justify-content: center;
  background: #CACACA;
  font-size: 23px;
  transition: 0.5s;
  -moz-border-radius: 15px 15px 0px 0px;
  -wedkit-border-radius: 15px 15px 0px 0px;
  -ms-border-radius: 15px 15px 0px 0px;
  border-radius: 15px 15px 0px 0px;
}
div.admin-caja div.admin-menu div.fix-slideToggle div.admin-m span {
  padding: 15px;
  cursor: pointer;
  transition: 0.5s;
  -moz-border-radius: 15px 15px 0px 0px;
  -wedkit-border-radius: 15px 15px 0px 0px;
  -ms-border-radius: 15px 15px 0px 0px;
  border-radius: 15px 15px 0px 0px;
}
div.admin-caja div.admin-menu div.fix-slideToggle div.admin-m span:hover {
  background: #e4e4e4;
}
div.admin-caja div.admin-menu div.fix-slideToggle div.admin-m span:hover:nth-child(2n) {
  background: gray;
}
div.admin-caja div.admin-menu div.fix-slideToggle div.admin-m span.activo {
  background: #e4e4e4;
}
div.admin-caja div.admin-menu div.fix-slideToggle div.admin-m span.activo:nth-child(2n) {
  background: gray;
}
div.admin-caja div.admin-contenido {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  -moz-border-radius: 15px;
  -wedkit-border-radius: 15px;
  -ms-border-radius: 15px;
  border-radius: 15px;
  margin: 20px;
  /*-- Titulos --*/
  /*CAJAS*/
}
div.admin-caja div.admin-contenido .popad_info_user {
  cursor: pointer;
  color: #0074D9;
  text-decoration: underline;
}
div.admin-caja div.admin-contenido span#admin-titulo1 {
  background: #df5353;
  padding: 5px 10px;
  margin-top: 40px;
  align-self: center;
  font-size: 30px;
  -moz-border-radius: 15px;
  -wedkit-border-radius: 15px;
  -ms-border-radius: 15px;
  border-radius: 15px;
}
div.admin-caja div.admin-contenido span#admin-titulo1 span {
  margin-right: 10px;
  color: #aa0f0f;
}
div.admin-caja div.admin-contenido span#admin-titulo1 p {
  margin: 10px 30px;
  text-align: justify;
  font-size: 25px;
}
div.admin-caja div.admin-contenido span#admin-titulo2 {
  background: #91bfe4;
  padding: 5px 10px;
  margin-top: 40px;
  align-self: center;
  font-size: 30px;
  -moz-border-radius: 15px;
  -wedkit-border-radius: 15px;
  -ms-border-radius: 15px;
  border-radius: 15px;
}
div.admin-caja div.admin-contenido span#admin-titulo2 span {
  margin-right: 10px;
  color: #19839f;
}
div.admin-caja div.admin-contenido span#admin-titulo3 {
  background: #b891e4;
  padding: 5px 10px;
  margin-top: 40px;
  align-self: center;
  font-size: 30px;
  -moz-border-radius: 15px;
  -wedkit-border-radius: 15px;
  -ms-border-radius: 15px;
  border-radius: 15px;
}
div.admin-caja div.admin-contenido span#admin-titulo3 span {
  margin-right: 10px;
  color: #775f98;
}
div.admin-caja div.admin-contenido span#admin-titulo4 {
  background: #6cdf53;
  padding: 5px 10px;
  margin-top: 40px;
  align-self: center;
  font-size: 30px;
  -moz-border-radius: 15px;
  -wedkit-border-radius: 15px;
  -ms-border-radius: 15px;
  border-radius: 15px;
}
div.admin-caja div.admin-contenido span#admin-titulo4 span {
  margin-right: 10px;
  color: #326527;
}
div.admin-caja div.admin-contenido span#admin-titulo5 {
  background: #DF9C53;
  padding: 5px 10px;
  margin-top: 40px;
  align-self: center;
  font-size: 30px;
  -moz-border-radius: 15px;
  -wedkit-border-radius: 15px;
  -ms-border-radius: 15px;
  border-radius: 15px;
}
div.admin-caja div.admin-contenido span#admin-titulo5 span {
  margin-right: 10px;
  color: #AA4C0F;
}
div.admin-caja div.admin-contenido span#admin-titulo6 {
  background: #DF5392;
  padding: 5px 10px;
  margin-top: 40px;
  align-self: center;
  font-size: 30px;
  -moz-border-radius: 15px;
  -wedkit-border-radius: 15px;
  -ms-border-radius: 15px;
  border-radius: 15px;
}
div.admin-caja div.admin-contenido span#admin-titulo6 span {
  margin-right: 10px;
  color: #AA0F88;
}
div.admin-caja div.admin-contenido span#admin-titulo7 {
  background: #DF9053;
  padding: 5px 10px;
  margin-top: 40px;
  align-self: center;
  font-size: 30px;
  -moz-border-radius: 15px;
  -wedkit-border-radius: 15px;
  -ms-border-radius: 15px;
  border-radius: 15px;
}
div.admin-caja div.admin-contenido span#admin-titulo7 span {
  margin-right: 10px;
  color: #AA4E0F;
}
div.admin-caja div.admin-contenido div.admin-registros {
  margin: 40px 0px;
  background: #FFFFFF;
  height: 200px;
  font-family: Consolas;
  overflow: auto;
}
div.admin-caja div.admin-contenido div.admin-registros p {
  margin: 10px;
  text-align: justify;
}
div.admin-caja div.admin-contenido div.admin-registros span {
  display: block;
  margin: 10px;
  margin-top: 0;
  font-size: 20px;
  text-align: center;
}
div.admin-caja div.admin-contenido div.admin-registros div.admin-registros-datos {
  display: flex;
  justify-content: space-around;
}
div.admin-caja div.admin-contenido div.admin-registros div.admin-registros-datos div.registro_cedula {
  text-align: center;
}
div.admin-caja div.admin-contenido div.admin-registros div.admin-registros-datos div.registro_nombre {
  text-align: center;
  margin-bottom: 5px;
}
div.admin-caja div.admin-contenido div.admin-registros div.admin-registros-datos div.registro_fecha {
  text-align: center;
  margin-bottom: 5px;
}
div.admin-caja div.admin-contenido div.admin-registros div.admin-registros-datos div.registro_accion {
  text-align: center;
  margin-bottom: 5px;
}
div.admin-caja div.admin-contenido div.admin-upload {
  margin: 40px 0px;
}
div.admin-caja div.admin-contenido div.admin-upload form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
div.admin-caja div.admin-contenido div.admin-upload form div.archivo {
  margin-bottom: 15px;
}
div.admin-caja div.admin-contenido div.admin-upload form div.archivo span.max {
  display: block;
  text-align: center;
}
div.admin-caja div.admin-contenido div.admin-modify {
  margin: 40px 0px;
}
div.admin-caja div.admin-contenido div.admin-modify div.menu-modify {
  width: 50%;
  margin: 15px auto;
}
div.admin-caja div.admin-contenido div.admin-modify form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
div.admin-caja div.admin-contenido div.admin-modify form div.seleccion {
  margin-bottom: 15px;
  text-align: center;
}
div.admin-caja div.admin-contenido div.admin-modify form div.datos {
  margin-bottom: 15px;
}
div.admin-caja div.admin-contenido div.admin-buscar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px 0px;
}
div.admin-caja div.admin-contenido div.admin-buscar div#resultado-buscar {
  -moz-border-radius: 15px;
  -wedkit-border-radius: 15px;
  -ms-border-radius: 15px;
  border-radius: 15px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 200px;
  margin-top: 20px;
  background: #FFFFFF;
}
div.admin-caja div.admin-contenido div.admin-buscar div#resultado-buscar span {
  font-size: 18px;
  cursor: pointer;
  color: #0074D9;
  text-decoration: underline;
}
div.admin-caja div.admin-contenido div.admin-boletin {
  margin: 40px 0px;
}
div.admin-caja div.admin-contenido div.admin-boletin form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
div.admin-caja div.admin-contenido div.admin-boletin form div.archivo {
  margin-bottom: 15px;
}
div.admin-caja div.admin-contenido div.admin-boletin form div.archivo span.max {
  display: block;
  text-align: center;
}
div.admin-caja div.admin-contenido div.admin-delete {
  margin: 40px 0px;
}
div.admin-caja div.admin-contenido div.admin-delete div.seleccion {
  margin-bottom: 15px;
  width: 40%;
  margin: auto;
}
div.admin-caja div.admin-contenido div.admin-delete form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
div.admin-caja div.admin-contenido div.admin-delete form .secciones-delete {
  margin-top: 10px;
  margin-bottom: 15px;
}
div.admin-caja div.admin-contenido div.admin-activar {
  margin: 40px 0px;
}
div.admin-caja div.admin-contenido div.admin-activar div.seleccion {
  margin: auto;
  margin-bottom: 15px;
  width: 40%;
}
div.admin-caja div.admin-contenido div.admin-activar form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
div.admin-caja div.admin-contenido div.admin-activar form .fix_admin_activar_sec_ok {
  margin: 10px;
}
div.admin-caja div.admin-contenido div.admin-activar form .secciones-estu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
div.admin-caja div.admin-contenido div.admin-activar form .secciones-estu span {
  font-size: 20px;
}
div.admin-caja div.admin-contenido div.admin-activar form .secciones-estu div {
  margin: 10px;
}
div.admin-caja div.admin-contenido div.admin-activar form#admin-activar-sec {
  display: none;
}
div.admin-caja div.admin-contenido input[type=text], div.admin-caja div.admin-contenido input[type=password] {
  text-align: center;
  font-size: 18px;
  margin: 0 8px;
  background: #FFFFFF;
  border: solid 2px #4d4b4b;
  transition: 1s;
  -moz-border-radius: 5px;
  -wedkit-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
}
div.admin-caja div.admin-contenido input[type=text]:focus, div.admin-caja div.admin-contenido input[type=password]:focus {
  border: solid 2px #4d4c4c;
  background: #fbfafa;
  box-shadow: 0px 0px 10px rgba(70, 70, 70, 0.5);
  transition: 1s;
}

footer div.footer1 {
  text-align: center;
  background: #39444e;
  font-size: 11px;
}
footer div.footer1 a {
  color: #FFFFFF;
  display: block;
}
footer div.footer1 a:hover {
  text-shadow: 0.1em 0.1em 0.2em #7800ff;
}
footer div.footer2 {
  text-align: center;
  background: #2e3941;
  font-size: 10px;
}
footer div.footer2 a {
  color: #FFFFFF;
  display: block;
}
footer div.footer2 a:hover {
  text-shadow: 0.1em 0.1em 0.2em #00ffe6;
}

/*--- Alert ---*/
div#popad {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  background: rgba(0, 0, 0, 0.5);
  flex-direction: colunm;
  justify-content: center;
  align-items: center;
}
div#popad div#popad-caja {
  min-width: 400px;
  max-width: 600px;
  min-height: 70px;
  max-height: 370px;
  background: #ecf0f1;
  border-radius: 10px;
}
div#popad div#popad-caja span#popad-title {
  display: flex;
  justify-content: space-between;
  border-radius: 10px 10px 0px 0px;
  text-align: center;
  background: #2e86c1;
  font-size: 20px;
  font-family: sourcesans-bolditalic;
}
div#popad div#popad-caja span#popad-title span#popad-text {
  width: 100%;
  text-align: center;
  margin-left: 45px;
  margin-right: 15px;
}
div#popad div#popad-caja span#popad-title span#popad-cerrar {
  margin-right: 20px;
  padding: 0px 5px;
}
div#popad div#popad-caja span#popad-title span#popad-cerrar:hover {
  cursor: pointer;
}
div#popad div#popad-caja div#popad-caja2 {
  overflow: auto;
  text-align: center;
  min-height: 45px;
  max-height: 345px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
div#popad div#popad-caja div#popad-caja2 span#info {
  width: 100%;
  margin: 10px;
}
div#popad div#popad-caja div#popad-caja2 img {
  width: 22px;
  height: 22px;
}

div#cookies {
  display: none;
  padding: 10px;
  position: fixed;
  bottom: 0;
  -webkit-backface-visibility: hidden;
  background: #ecf0f1;
}
div#cookies a.link {
  color: #5a747d;
}
div#cookies a.ok {
  width: 50%;
  align-self: center;
  background: #92b0bb;
  padding: 7px;
  border-radius: 10px;
  text-align: center;
}

@media (max-width: 720px) {
  header {
    position: fixed;
    width: 100%;
    background: none;
    box-shadow: none;
  }
  header div.m-menu {
    background: #295b85;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #FFFFFF;
  }
  header div.m-menu span.m-boton {
    margin-right: 15px;
    font-size: 20px;
    padding: 5px;
    -moz-border-radius: 5px;
    -wedkit-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    transition: 0.5s;
  }
  header div.m-menu span.m-boton:hover {
    background: rgba(0, 0, 0, 0.2);
  }
  header div.m-menu span.m-boton:active {
    background: rgba(0, 0, 0, 0.4);
  }
  header div.m-menu span.m-text {
    margin-left: 20px;
    padding: 10px 0px;
    font-size: 20px;
    font-family: sourcesans-bold;
  }
  header div.caja-menu {
    position: fixed;
    background: #295b85;
    width: 85%;
    margin: 0;
    left: -100%;
    box-shadow: 0.1em 0.1em 0.4em #143b5c;
  }
  header div.caja-menu img.logo {
    display: none;
  }
  header div.caja-menu img.m-logo {
    display: block;
    background: #d7dfe4;
    -moz-border-radius: 0px 15px 0px 15px;
    -wedkit-border-radius: 0px 15px 0px 15px;
    -ms-border-radius: 0px 15px 0px 15px;
    border-radius: 0px 15px 0px 15px;
    margin: 20px;
    padding: 3px;
  }
  header div.caja-menu span.menu-text {
    display: none;
  }
  header div.caja-menu nav.menu {
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  header div.caja-menu nav.menu a {
    font-size: 18px;
    width: 100%;
    text-align: center;
    padding: 13px 0;
    margin: 0;
    -moz-border-radius: 0px;
    -wedkit-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px;
    border-bottom: 1px solid #111111;
  }

  main div.admin-caja h2 {
    font-size: 9vw;
  }
  main div.admin-caja div.admin-contenedor {
    margin-top: 100px;
  }
  main div.admin-caja div.admin-contenedor div.admin-menu div.admin-mobi-m {
    display: flex;
    background: #CACACA;
    font-size: 25px;
    justify-content: space-between;
    -moz-border-radius: 15px 15px 0px 0px;
    -wedkit-border-radius: 15px 15px 0px 0px;
    -ms-border-radius: 15px 15px 0px 0px;
    border-radius: 15px 15px 0px 0px;
  }
  main div.admin-caja div.admin-contenedor div.admin-menu div.admin-mobi-m span {
    align-self: center;
    margin: 10px 15px;
    padding: 3px;
    -moz-border-radius: 5px;
    -wedkit-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    transition: 0.5s;
  }
  main div.admin-caja div.admin-contenedor div.admin-menu div.admin-mobi-m span:hover {
    background: rgba(0, 0, 0, 0.2);
  }
  main div.admin-caja div.admin-contenedor div.admin-menu div.admin-mobi-m span:active {
    background: rgba(0, 0, 0, 0.4);
  }
  main div.admin-caja div.admin-contenedor div.admin-menu div.fix-slideToggle {
    display: none;
  }
  main div.admin-caja div.admin-contenedor div.admin-menu div.fix-slideToggle div.admin-m {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    -moz-border-radius: 0;
    -wedkit-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
  }
  main div.admin-caja div.admin-contenedor div.admin-menu div.fix-slideToggle div.admin-m:last-child {
    -moz-border-radius: 0px 0px 15px 15px;
    -wedkit-border-radius: 0px 0px 15px 15px;
    -ms-border-radius: 0px 0px 15px 15px;
    border-radius: 0px 0px 15px 15px;
  }
  main div.admin-caja div.admin-contenedor div.admin-menu div.fix-slideToggle div.admin-m span {
    -moz-border-radius: 0;
    -wedkit-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
  }
  main div.admin-caja div.admin-contenedor div.admin-menu div.fix-slideToggle div.admin-m span:hover:nth-child(2n) {
    background: #949494;
  }
  main div.admin-caja div.admin-contenedor div.admin-menu div.fix-slideToggle div.admin-m span:last-child {
    -moz-border-radius: 0px 0px 15px 15px;
    -wedkit-border-radius: 0px 0px 15px 15px;
    -ms-border-radius: 0px 0px 15px 15px;
    border-radius: 0px 0px 15px 15px;
  }
  main div.admin-caja div.admin-contenedor div.admin-contenido {
    /*Titulos*/
    /*Cajas*/
  }
  main div.admin-caja div.admin-contenedor div.admin-contenido span#admin-titulo1 {
    font-size: 5vw;
  }
  main div.admin-caja div.admin-contenedor div.admin-contenido span#admin-titulo2 {
    font-size: 5vw;
  }
  main div.admin-caja div.admin-contenedor div.admin-contenido span#admin-titulo3 {
    font-size: 5vw;
    text-align: center;
  }
  main div.admin-caja div.admin-contenedor div.admin-contenido span#admin-titulo4 {
    font-size: 5vw;
  }
  main div.admin-caja div.admin-contenedor div.admin-contenido span#admin-titulo5 {
    font-size: 5vw;
  }
  main div.admin-caja div.admin-contenedor div.admin-contenido span#admin-titulo6 {
    font-size: 5vw;
  }
  main div.admin-caja div.admin-contenedor div.admin-contenido div.admin-registros div.registro_fecha {
    display: none;
  }
  main div.admin-caja div.admin-contenedor div.admin-contenido div.admin-registros div.registro_accion {
    display: none;
  }
  main div.admin-caja div.admin-contenedor div.admin-contenido div.admin-modify div.menu-modify {
    width: 50vw;
  }
  main div.admin-caja div.admin-contenedor div.admin-contenido div.admin-modify form div.seleccion {
    width: 100%;
    flex-wrap: wrap;
  }
  main div.admin-caja div.admin-contenedor div.admin-contenido div.admin-modify form div.seleccion input[type=text], main div.admin-caja div.admin-contenedor div.admin-contenido div.admin-modify form div.seleccion input[type=password] {
    text-align: center;
    font-size: 18px;
    margin: 0 8px;
    background: #FFFFFF;
    border: solid 2px #4d4b4b;
    transition: 1s;
    margin-bottom: 10px;
  }
  main div.admin-caja div.admin-contenedor div.admin-contenido div.admin-modify form div.seleccion input[type=text]:focus, main div.admin-caja div.admin-contenedor div.admin-contenido div.admin-modify form div.seleccion input[type=password]:focus {
    border: solid 2px #4d4c4c;
    background: #fbfafa;
    box-shadow: 0px 0px 10px rgba(70, 70, 70, 0.5);
    transition: 1s;
  }
  main div.admin-caja div.admin-contenedor div.admin-contenido div.admin-delete div.seleccion {
    width: 60vw;
  }

  div#popad div#popad-caja {
    min-width: 70vw;
    max-width: 80vw;
  }

  .c_dato {
    cursor: pointer;
    color: #0074D9;
    text-decoration: underline;
  }

  div#cookies {
    font-size: 2.5vw;
  }
  div#cookies a.ok {
    width: 100%;
  }
}
@media (max-width: 520px) {
  header {
    position: fixed;
    width: 100%;
    background: none;
    box-shadow: none;
  }
  header div.m-menu {
    background: #295b85;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #FFFFFF;
  }
  header div.m-menu span.m-boton {
    margin-right: 15px;
    font-size: 20px;
    padding: 5px;
    -moz-border-radius: 5px;
    -wedkit-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    transition: 0.5s;
  }
  header div.m-menu span.m-boton:hover {
    background: rgba(0, 0, 0, 0.2);
  }
  header div.m-menu span.m-boton:active {
    background: rgba(0, 0, 0, 0.4);
  }
  header div.m-menu span.m-text {
    margin-left: 20px;
    padding: 10px 0px;
    font-size: 20px;
    font-family: sourcesans-bold;
  }
  header div.caja-menu {
    position: fixed;
    background: #295b85;
    width: 85%;
    margin: 0;
    left: -100%;
    box-shadow: 0.1em 0.1em 0.4em #143b5c;
  }
  header div.caja-menu img.logo {
    display: none;
  }
  header div.caja-menu img.m-logo {
    display: block;
    background: #d7dfe4;
    -moz-border-radius: 0px 15px 0px 15px;
    -wedkit-border-radius: 0px 15px 0px 15px;
    -ms-border-radius: 0px 15px 0px 15px;
    border-radius: 0px 15px 0px 15px;
    margin: 20px;
    padding: 3px;
  }
  header div.caja-menu span.menu-text {
    display: none;
  }
  header div.caja-menu nav.menu {
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  header div.caja-menu nav.menu a {
    font-size: 18px;
    width: 100%;
    text-align: center;
    padding: 13px 0;
    margin: 0;
    -moz-border-radius: 0px;
    -wedkit-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px;
    border-bottom: 1px solid #111111;
  }

  main div.admin-caja h2 {
    font-size: 9vw;
  }
  main div.admin-caja div.admin-contenedor {
    margin-top: 100px;
  }
  main div.admin-caja div.admin-contenedor div.admin-menu div.admin-mobi-m {
    display: flex;
    background: #CACACA;
    font-size: 25px;
    justify-content: space-between;
    -moz-border-radius: 15px 15px 0px 0px;
    -wedkit-border-radius: 15px 15px 0px 0px;
    -ms-border-radius: 15px 15px 0px 0px;
    border-radius: 15px 15px 0px 0px;
  }
  main div.admin-caja div.admin-contenedor div.admin-menu div.admin-mobi-m span {
    align-self: center;
    margin: 10px 15px;
    padding: 3px;
    -moz-border-radius: 5px;
    -wedkit-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    transition: 0.5s;
  }
  main div.admin-caja div.admin-contenedor div.admin-menu div.admin-mobi-m span:hover {
    background: rgba(0, 0, 0, 0.2);
  }
  main div.admin-caja div.admin-contenedor div.admin-menu div.admin-mobi-m span:active {
    background: rgba(0, 0, 0, 0.4);
  }
  main div.admin-caja div.admin-contenedor div.admin-menu div.fix-slideToggle {
    display: none;
  }
  main div.admin-caja div.admin-contenedor div.admin-menu div.fix-slideToggle div.admin-m {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    -moz-border-radius: 0;
    -wedkit-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
  }
  main div.admin-caja div.admin-contenedor div.admin-menu div.fix-slideToggle div.admin-m:last-child {
    -moz-border-radius: 0px 0px 15px 15px;
    -wedkit-border-radius: 0px 0px 15px 15px;
    -ms-border-radius: 0px 0px 15px 15px;
    border-radius: 0px 0px 15px 15px;
  }
  main div.admin-caja div.admin-contenedor div.admin-menu div.fix-slideToggle div.admin-m span {
    -moz-border-radius: 0;
    -wedkit-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
  }
  main div.admin-caja div.admin-contenedor div.admin-menu div.fix-slideToggle div.admin-m span:hover:nth-child(2n) {
    background: #949494;
  }
  main div.admin-caja div.admin-contenedor div.admin-menu div.fix-slideToggle div.admin-m span:last-child {
    -moz-border-radius: 0px 0px 15px 15px;
    -wedkit-border-radius: 0px 0px 15px 15px;
    -ms-border-radius: 0px 0px 15px 15px;
    border-radius: 0px 0px 15px 15px;
  }
  main div.admin-caja div.admin-contenedor div.admin-contenido {
    /*Titulos*/
    /*Cajas*/
  }
  main div.admin-caja div.admin-contenedor div.admin-contenido span#admin-titulo1 {
    font-size: 6vw;
  }
  main div.admin-caja div.admin-contenedor div.admin-contenido span#admin-titulo2 {
    font-size: 6vw;
    text-align: center;
  }
  main div.admin-caja div.admin-contenedor div.admin-contenido span#admin-titulo3 {
    font-size: 6vw;
    text-align: center;
  }
  main div.admin-caja div.admin-contenedor div.admin-contenido span#admin-titulo4 {
    font-size: 6vw;
  }
  main div.admin-caja div.admin-contenedor div.admin-contenido span#admin-titulo5 {
    font-size: 6vw;
  }
  main div.admin-caja div.admin-contenedor div.admin-contenido span#admin-titulo6 {
    font-size: 6vw;
    text-align: center;
  }
  main div.admin-caja div.admin-contenedor div.admin-contenido div.admin-registros div.registro_nombre {
    display: none;
  }
  main div.admin-caja div.admin-contenedor div.admin-contenido div.admin-registros div.registro_fecha {
    display: none;
  }
  main div.admin-caja div.admin-contenedor div.admin-contenido div.admin-registros div.registro_accion {
    display: none;
  }
  main div.admin-caja div.admin-contenedor div.admin-contenido div.admin-upload input#archivo_matricula {
    width: 75vw;
  }
  main div.admin-caja div.admin-contenedor div.admin-contenido div.admin-modify div.menu-modify {
    width: 70vw;
  }
  main div.admin-caja div.admin-contenedor div.admin-contenido div.admin-modify form div.seleccion {
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
  }
  main div.admin-caja div.admin-contenedor div.admin-contenido div.admin-modify form div.seleccion select {
    width: 30%;
  }
  main div.admin-caja div.admin-contenedor div.admin-contenido div.admin-modify form div.seleccion input[type=text], main div.admin-caja div.admin-contenedor div.admin-contenido div.admin-modify form div.seleccion input[type=password] {
    text-align: center;
    font-size: 18px;
    margin: 0 8px;
    background: #FFFFFF;
    border: solid 2px #4d4b4b;
    transition: 1s;
    margin-bottom: 10px;
  }
  main div.admin-caja div.admin-contenedor div.admin-contenido div.admin-modify form div.seleccion input[type=text]:focus, main div.admin-caja div.admin-contenedor div.admin-contenido div.admin-modify form div.seleccion input[type=password]:focus {
    border: solid 2px #4d4c4c;
    background: #fbfafa;
    box-shadow: 0px 0px 10px rgba(70, 70, 70, 0.5);
    transition: 1s;
  }
  main div.admin-caja div.admin-contenedor div.admin-contenido div.admin-modify form div.datos {
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
  }
  main div.admin-caja div.admin-contenedor div.admin-contenido div.admin-boletin input#archivo_boletin {
    width: 75vw;
  }
  main div.admin-caja div.admin-contenedor div.admin-contenido div.admin-delete div.seleccion {
    width: 80vw;
  }

  div#popad div#popad-caja {
    min-width: 70vw;
    max-width: 80vw;
  }

  .c_dato {
    cursor: pointer;
    color: #0074D9;
    text-decoration: underline;
  }

  div#cookies {
    font-size: 3vw;
  }
  div#cookies a.ok {
    width: 100%;
  }
}
@media (max-width: 320px) {
  header {
    position: fixed;
    width: 100%;
    background: none;
    box-shadow: none;
  }
  header div.m-menu {
    background: #295b85;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #FFFFFF;
  }
  header div.m-menu span.m-boton {
    margin-right: 15px;
    font-size: 20px;
    padding: 5px;
    -moz-border-radius: 5px;
    -wedkit-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    transition: 0.5s;
  }
  header div.m-menu span.m-boton:hover {
    background: rgba(0, 0, 0, 0.2);
  }
  header div.m-menu span.m-boton:active {
    background: rgba(0, 0, 0, 0.4);
  }
  header div.m-menu span.m-text {
    margin-left: 20px;
    padding: 10px 0px;
    font-size: 20px;
    font-family: sourcesans-bold;
  }
  header div.caja-menu {
    position: fixed;
    background: #295b85;
    width: 85%;
    margin: 0;
    left: -100%;
    box-shadow: 0.1em 0.1em 0.4em #143b5c;
  }
  header div.caja-menu img.logo {
    display: none;
  }
  header div.caja-menu img.m-logo {
    display: block;
    background: #d7dfe4;
    -moz-border-radius: 0px 15px 0px 15px;
    -wedkit-border-radius: 0px 15px 0px 15px;
    -ms-border-radius: 0px 15px 0px 15px;
    border-radius: 0px 15px 0px 15px;
    margin: 20px;
    padding: 3px;
  }
  header div.caja-menu span.menu-text {
    display: none;
  }
  header div.caja-menu nav.menu {
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  header div.caja-menu nav.menu a {
    font-size: 18px;
    width: 100%;
    text-align: center;
    padding: 13px 0;
    margin: 0;
    -moz-border-radius: 0px;
    -wedkit-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px;
    border-bottom: 1px solid #111111;
  }

  main div.admin-caja h2 {
    font-size: 9vw;
  }
  main div.admin-caja div.admin-contenedor {
    margin-top: 100px;
  }
  main div.admin-caja div.admin-contenedor div.admin-menu div.admin-mobi-m {
    display: flex;
    background: #CACACA;
    font-size: 8vw;
    justify-content: space-between;
    -moz-border-radius: 15px 15px 0px 0px;
    -wedkit-border-radius: 15px 15px 0px 0px;
    -ms-border-radius: 15px 15px 0px 0px;
    border-radius: 15px 15px 0px 0px;
  }
  main div.admin-caja div.admin-contenedor div.admin-menu div.admin-mobi-m span {
    align-self: center;
    margin: 10px 15px;
    padding: 3px;
    -moz-border-radius: 5px;
    -wedkit-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    transition: 0.5s;
  }
  main div.admin-caja div.admin-contenedor div.admin-menu div.admin-mobi-m span:hover {
    background: rgba(0, 0, 0, 0.2);
  }
  main div.admin-caja div.admin-contenedor div.admin-menu div.admin-mobi-m span:active {
    background: rgba(0, 0, 0, 0.4);
  }
  main div.admin-caja div.admin-contenedor div.admin-menu div.fix-slideToggle {
    display: none;
  }
  main div.admin-caja div.admin-contenedor div.admin-menu div.fix-slideToggle div.admin-m {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 7vw;
    -moz-border-radius: 0;
    -wedkit-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
  }
  main div.admin-caja div.admin-contenedor div.admin-menu div.fix-slideToggle div.admin-m:last-child {
    -moz-border-radius: 0px 0px 15px 15px;
    -wedkit-border-radius: 0px 0px 15px 15px;
    -ms-border-radius: 0px 0px 15px 15px;
    border-radius: 0px 0px 15px 15px;
  }
  main div.admin-caja div.admin-contenedor div.admin-menu div.fix-slideToggle div.admin-m span {
    padding: 10px;
    -moz-border-radius: 0;
    -wedkit-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
  }
  main div.admin-caja div.admin-contenedor div.admin-menu div.fix-slideToggle div.admin-m span:hover:nth-child(2n) {
    background: #949494;
  }
  main div.admin-caja div.admin-contenedor div.admin-menu div.fix-slideToggle div.admin-m span:last-child {
    -moz-border-radius: 0px 0px 15px 15px;
    -wedkit-border-radius: 0px 0px 15px 15px;
    -ms-border-radius: 0px 0px 15px 15px;
    border-radius: 0px 0px 15px 15px;
  }
  main div.admin-caja div.admin-contenedor div.admin-contenido {
    /*Titulos*/
    /*Cajas*/
  }
  main div.admin-caja div.admin-contenedor div.admin-contenido span#admin-titulo1 {
    font-size: 8vw;
  }
  main div.admin-caja div.admin-contenedor div.admin-contenido span#admin-titulo2 {
    width: 100%;
    text-align: center;
    font-size: 8vw;
  }
  main div.admin-caja div.admin-contenedor div.admin-contenido span#admin-titulo3 {
    width: 100%;
    font-size: 8vw;
    text-align: center;
  }
  main div.admin-caja div.admin-contenedor div.admin-contenido span#admin-titulo4 {
    font-size: 8vw;
  }
  main div.admin-caja div.admin-contenedor div.admin-contenido span#admin-titulo5 {
    font-size: 8vw;
  }
  main div.admin-caja div.admin-contenedor div.admin-contenido span#admin-titulo6 {
    width: 100%;
    text-align: center;
    font-size: 8vw;
  }
  main div.admin-caja div.admin-contenedor div.admin-contenido div.admin-registros {
    -moz-border-radius: 10px;
    -wedkit-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
  }
  main div.admin-caja div.admin-contenedor div.admin-contenido div.admin-registros div.registro_nombre {
    display: none;
  }
  main div.admin-caja div.admin-contenedor div.admin-contenido div.admin-registros div.registro_fecha {
    display: none;
  }
  main div.admin-caja div.admin-contenedor div.admin-contenido div.admin-registros div.registro_accion {
    display: none;
  }
  main div.admin-caja div.admin-contenedor div.admin-contenido div.admin-upload input#archivo_matricula {
    width: 75vw;
  }
  main div.admin-caja div.admin-contenedor div.admin-contenido div.admin-modify div.menu-modify {
    width: 80vw;
  }
  main div.admin-caja div.admin-contenedor div.admin-contenido div.admin-modify form div.seleccion {
    flex: 0 1 auto;
  }
  main div.admin-caja div.admin-contenedor div.admin-contenido div.admin-modify form div.seleccion select {
    width: 30%;
  }
  main div.admin-caja div.admin-contenedor div.admin-contenido div.admin-modify form div.seleccion input[type=text], main div.admin-caja div.admin-contenedor div.admin-contenido div.admin-modify form div.seleccion input[type=password] {
    text-align: center;
    font-size: 18px;
    margin: 0 8px;
    width: 70vw;
    background: #FFFFFF;
    border: solid 2px #4d4b4b;
    transition: 1s;
    margin-bottom: 10px;
  }
  main div.admin-caja div.admin-contenedor div.admin-contenido div.admin-modify form div.seleccion input[type=text]:focus, main div.admin-caja div.admin-contenedor div.admin-contenido div.admin-modify form div.seleccion input[type=password]:focus {
    border: solid 2px #4d4c4c;
    background: #fbfafa;
    box-shadow: 0px 0px 10px rgba(70, 70, 70, 0.5);
    transition: 1s;
  }
  main div.admin-caja div.admin-contenedor div.admin-contenido div.admin-modify form div.datos {
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
  }
  main div.admin-caja div.admin-contenedor div.admin-contenido div.admin-boletin input#archivo_boletin {
    width: 75vw;
  }
  main div.admin-caja div.admin-contenedor div.admin-contenido div.admin-buscar input {
    width: 70vw;
  }
  main div.admin-caja div.admin-contenedor div.admin-contenido div.admin-buscar div#resultado-buscar {
    width: 70vw;
  }
  main div.admin-caja div.admin-contenedor div.admin-contenido div.admin-delete div.seleccion {
    width: 80vw;
  }

  div#popad div#popad-caja {
    min-width: 70vw;
    max-width: 80vw;
  }

  .c_dato {
    cursor: pointer;
    color: #0074D9;
    text-decoration: underline;
  }

  div#cookies {
    font-size: 3vw;
  }
  div#cookies a.ok {
    width: 100%;
  }
}

/*# sourceMappingURL=admin.css.map */
