@font-face {
	font-family: 'icomoon'; 
	src:  url('../fonts/iconos/icomoon.eot?bqz6ww');
 	src:  url('../fonts/iconos/icomoon.eot?bqz6ww#iefix') format('embedded-opentype'), 
 	url('../fonts/iconos/icomoon.ttf?bqz6ww') format('truetype'), 
 	url('../fonts/iconos/icomoon.woff?bqz6ww') format('woff'), 
 	url('../fonts/iconos/icomoon.svg?bqz6ww#icomoon') format('svg'); 
 	font-weight: normal;
	font-style: normal; 
} 
 [class^="icon-"], [class*=" icon-"] {
 	/* use !important to prevent issues with browser extensions that change fonts */ 
 	font-family: 'icomoon' !important; speak: none; font-style: normal; 
 	font-weight: normal; 
 	font-variant: normal; 
 	text-transform: none; line-height: 1; /* Better Font Rendering =========== */ 
 	-webkit-font-smoothing: antialiased; 
 	-moz-osx-font-smoothing: grayscale; 
 } 
 .icon-notifications_active:before {
 	content: "\e900"; 
} 
.icon-notifications:before {
 	content: "\e901"; 
} 
.icon-search:before {
 	content: "\f002"; 
} 
 .icon-user:before {
 	content: "\f007"; 
} 
.icon-power-off:before {
 	content: "\f011";
  } 
.icon-cog:before {
 	content: "\f013"; 
} 
 .icon-gear:before {
 	content: "\f013"; } 
.icon-lock:before {
 	content: "\f023"; 
} 
.icon-book:before {
 	content: "\f02d"; 
} 
.icon-user-circle:before {
 	content: "\f2bd"; 
}
.icon-home3:before {
 	content: "\e902"; 
} 
.icon-newspaper:before {
 	content: "\e904"; 
} 
.icon-bullhorn:before {
 	content: "\e91a"; 
 }
.icon-file-empty:before {
 	content: "\e924"; 
} 
 .icon-file-text2:before {
 	content: "\e926"; 
} 
 .icon-clock:before {
 	content: "\e94e";
  } 
 .icon-key:before {
 	content: "\e98d"; 
} 
 .icon-bin:before {
 	content: "\e9ac"; 
} 
 .icon-menu:before {
 	content: "\e9bd"; 
 } 
 .icon-warning:before {
 	content: "\ea07"; 
} 
 .icon-notification:before {
 	content: "\ea08"; 
 }
 .icon-cross:before {
 	content: "\ea0f"; 
 }
 .icon-enter:before {
 	content: "\ea13";
  } 
 .icon-terminal:before {
 	content: "\ea81"; 
} 
 .icon-file-pdf:before {
 	content: "\eadf";
  } 
  .icon-file-word:before {
  	content: "\eae1";
  } 
  .icon-file-excel:before {
  	content: "\eae2";
  }