/* Links :3 */
@import url("fuentes.css");
@import url("iconos.css");
@import url("reset.css");
/*-- Estilos Generales --*/
* {
  -webkit-box-sizing: boxer-box;
  -moz-box-sizing: boxer-box;
  box-sizing: boxer-box;
}

body {
  background: url(../img/fondo.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: sourcesans, Arial, Helvetica, Sans-serif;
  min-height: 100vh;
  /*-- Flex --*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a {
  color: #111111;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

/*-- Cajas --*/
header {
  background: #295b85;
}

main {
  margin: auto;
  width: 70%;
  display: flex;
  flex-direction: column;
  flex: auto;
}

header {
  box-shadow: 0.1em 0.1em 0.4em #143b5c;
}
header div.m-menu {
  display: none;
}
header div.caja-menu {
  width: 94%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header div.caja-menu img.logo {
  background: #d7dfe4;
  -moz-border-radius: 0px 15px 15px;
  -wedkit-border-radius: 0px 15px 15px;
  -ms-border-radius: 0px 15px 15px;
  border-radius: 0px 15px 15px;
  padding: 3px;
}
header div.caja-menu img.m-logo {
  display: none;
}
header div.caja-menu nav {
  margin: 4px;
  display: flex;
}
header div.caja-menu nav a {
  margin: 0px 5px;
  padding: 13px 20px;
  font-size: 16px;
  color: #FFFFFF;
  font-family: sourcesans;
  -moz-border-radius: 10px;
  -wedkit-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  transition: 1s;
}
header div.caja-menu nav a:hover {
  background: rgba(0, 0, 0, 0.2);
  text-shadow: 0.1em 0.1em 0.2em #FFFFFF;
}
header div.caja-menu nav a:active {
  background: rgba(0, 0, 0, 0.1);
  text-shadow: 0.1em 0.1em 0.2em #111111;
  transition: 0.1s;
}
header div.caja-menu nav a span {
  margin-right: 10px;
  text-align: center;
}
header div.caja-menu nav a.actual {
  background: rgba(0, 0, 0, 0.2);
}
header div.caja-menu nav a.actual:active {
  background: rgba(0, 0, 0, 0.1);
  text-shadow: 0.1em 0.1em 0.2em #111111;
  transition: 0.1s;
}

main {
  margin: 17vh auto;
  background: #FFFFFF;
  -moz-border-radius: 20px;
  -wedkit-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
}
main form#form_login {
  flex: auto;
  margin: 15px;
  background: #92b0bb;
  font-family: sourcesans-light;
  -moz-border-radius: 20px;
  -wedkit-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main form#form_login h1 {
  text-align: center;
  font-size: 55px;
  margin-top: 10px;
  margin-bottom: 20px;
  flex: auto;
}
main form#form_login div.login-textos {
  margin: 10px 0px;
  flex: auto;
  font-size: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
main form#form_login div.login-textos span {
  font-size: 20px;
  margin-right: 10px;
}
main form#form_login div.login-datos {
  margin: 20px 0px;
  flex: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
main form#form_login div.login-datos input {
  text-align: center;
  font-size: 18px;
  margin: 0 8px;
  min-width: 0;
  width: 250px;
  max-width: 250px;
  height: 40px;
  background: #e7e7e7;
  border: solid 2px #4d4b4b;
  -moz-border-radius: 5px;
  -wedkit-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  transition: 1s;
}
main form#form_login div.login-datos input:focus {
  border: solid 2px #4d4c4c;
  background: #fbfafa;
  box-shadow: 0px 0px 10px rgba(70, 70, 70, 0.5);
  transition: 1s;
}
main form#form_login div.login-datos input.error {
  text-align: center;
  font-size: 18px;
  margin: 0 8px;
  min-width: 0;
  width: 250px;
  max-width: 250px;
  height: 40px;
  background: #e7e7e7;
  border: solid 2px #4d4b4b;
  box-shadow: 0px 0px 10px #FF4136;
  transition: 1s;
}
main form#form_login div.login-datos input.error:focus {
  border: solid 2px #4d4c4c;
  background: #fbfafa;
  box-shadow: 0px 0px 10px rgba(70, 70, 70, 0.5);
  transition: 1s;
}
main form#form_login div.login-remember {
  margin: 10px auto;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: auto;
}
main form#form_login div.login_submit {
  flex: auto;
  text-align: center;
  margin: 20px;
  font-size: 30px;
}
main form#form_login div.login_submit button {
  background: #e4e4e4;
  border: none;
  padding: 5px 40px;
  -moz-border-radius: 15px;
  -wedkit-border-radius: 15px;
  -ms-border-radius: 15px;
  border-radius: 15px;
  transition: 1s;
}
main form#form_login div.login_submit button:hover {
  background: #f3f3f3;
  transform: scale(1.1);
  transition: 1s;
}

footer div.footer1 {
  text-align: center;
  background: #39444e;
  font-size: 11px;
}
footer div.footer1 a {
  color: #FFFFFF;
  display: block;
}
footer div.footer1 a:hover {
  text-shadow: 0.1em 0.1em 0.2em #7800ff;
}
footer div.footer2 {
  text-align: center;
  background: #2e3941;
  font-size: 10px;
}
footer div.footer2 a {
  color: #FFFFFF;
  display: block;
}
footer div.footer2 a:hover {
  text-shadow: 0.1em 0.1em 0.2em #00ffe6;
}

/*--- Alert ---*/
div#popad {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  background: rgba(0, 0, 0, 0.5);
  flex-direction: colunm;
  justify-content: center;
  align-items: center;
}
div#popad div#popad-caja {
  min-width: 400px;
  max-width: 600px;
  min-height: 70px;
  max-height: 370px;
  background: #ecf0f1;
  border-radius: 10px;
}
div#popad div#popad-caja span#popad-title {
  display: flex;
  justify-content: space-between;
  border-radius: 10px 10px 0px 0px;
  text-align: center;
  background: #2e86c1;
  font-size: 20px;
  font-family: sourcesans-bolditalic;
}
div#popad div#popad-caja span#popad-title span#popad-text {
  width: 100%;
  text-align: center;
  margin-left: 45px;
  margin-right: 15px;
}
div#popad div#popad-caja span#popad-title span#popad-cerrar {
  margin-right: 20px;
  padding: 0px 5px;
}
div#popad div#popad-caja span#popad-title span#popad-cerrar:hover {
  cursor: pointer;
}
div#popad div#popad-caja div#popad-caja2 {
  overflow: auto;
  text-align: center;
  min-height: 45px;
  max-height: 345px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
div#popad div#popad-caja div#popad-caja2 span#info {
  width: 100%;
  margin: 10px;
}
div#popad div#popad-caja div#popad-caja2 img {
  width: 22px;
  height: 22px;
}

div#cookies {
  display: none;
  padding: 10px;
  position: fixed;
  bottom: 0;
  -webkit-backface-visibility: hidden;
  background: #ecf0f1;
}
div#cookies a.link {
  color: #5a747d;
}
div#cookies a.ok {
  width: 50%;
  align-self: center;
  background: #92b0bb;
  padding: 7px;
  border-radius: 10px;
  text-align: center;
}

@media (max-width: 720px) {
  header {
    position: fixed;
    width: 100%;
    background: none;
    box-shadow: none;
  }
  header div.m-menu {
    background: #295b85;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #FFFFFF;
  }
  header div.m-menu span.m-boton {
    margin-right: 15px;
    font-size: 20px;
    padding: 5px;
    -moz-border-radius: 5px;
    -wedkit-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
  }
  header div.m-menu span.m-boton:hover {
    background: rgba(0, 0, 0, 0.2);
  }
  header div.m-menu span.m-boton:active {
    background: rgba(0, 0, 0, 0.4);
  }
  header div.m-menu span.m-text {
    margin-left: 20px;
    padding: 10px 0px;
    font-size: 20px;
    font-family: sourcesans-bold;
  }
  header div.caja-menu {
    position: fixed;
    background: #295b85;
    width: 87%;
    margin: 0;
    left: -100%;
    box-shadow: 0.1em 0.1em 0.4em #143b5c;
  }
  header div.caja-menu img.logo {
    display: none;
  }
  header div.caja-menu img.m-logo {
    display: block;
    background: #d7dfe4;
    -moz-border-radius: 0px 15px 0px 15px;
    -wedkit-border-radius: 0px 15px 0px 15px;
    -ms-border-radius: 0px 15px 0px 15px;
    border-radius: 0px 15px 0px 15px;
    margin: 20px;
    padding: 3px;
  }
  header div.caja-menu nav.menu {
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  header div.caja-menu nav.menu a {
    font-size: 18px;
    width: 100%;
    text-align: center;
    padding: 13px 0;
    margin: 0;
    -moz-border-radius: 0px;
    -wedkit-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px;
    border-bottom: 1px solid #111111;
  }

  main {
    width: 80%;
  }
  main form#form_login h1 {
    font-size: 10vw;
  }
  main form#form_login div.login-datos input {
    width: 30vw;
  }
  main form#form_login div.login-remember {
    justify-content: center;
  }

  div#popad div#popad-caja {
    min-width: 60vw;
    max-width: 70vw;
  }

  div#cookies {
    font-size: 2.5vw;
  }
  div#cookies a.ok {
    width: 100%;
  }
}
@media (max-width: 520px) {
  header {
    position: fixed;
    width: 100%;
    background: none;
    box-shadow: none;
  }
  header div.m-menu {
    background: #295b85;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #FFFFFF;
  }
  header div.m-menu span.m-boton {
    margin-right: 15px;
    font-size: 20px;
    padding: 5px;
    -moz-border-radius: 5px;
    -wedkit-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    transition: 0.5s;
  }
  header div.m-menu span.m-boton:hover {
    background: rgba(0, 0, 0, 0.2);
  }
  header div.m-menu span.m-boton:active {
    background: rgba(0, 0, 0, 0.4);
  }
  header div.m-menu span.m-text {
    margin-left: 20px;
    padding: 10px 0px;
    font-size: 20px;
    font-family: sourcesans-bold;
  }
  header div.caja-menu {
    position: fixed;
    background: #295b85;
    width: 85%;
    margin: 0;
    left: -100%;
    box-shadow: 0.1em 0.1em 0.4em #143b5c;
  }
  header div.caja-menu img.logo {
    display: none;
  }
  header div.caja-menu img.m-logo {
    display: block;
    background: #d7dfe4;
    -moz-border-radius: 0px 15px 0px 15px;
    -wedkit-border-radius: 0px 15px 0px 15px;
    -ms-border-radius: 0px 15px 0px 15px;
    border-radius: 0px 15px 0px 15px;
    margin: 20px;
    padding: 3px;
  }
  header div.caja-menu nav.menu {
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  header div.caja-menu nav.menu a {
    font-size: 18px;
    width: 100%;
    text-align: center;
    padding: 13px 0;
    margin: 0;
    -moz-border-radius: 0px;
    -wedkit-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px;
    border-bottom: 1px solid #111111;
  }

  main {
    width: 90%;
  }
  main form#form_login h1 {
    font-size: 10vw;
  }
  main form#form_login div.login-textos {
    flex-direction: column;
  }
  main form#form_login div.login-textos label {
    margin-bottom: 10px;
  }
  main form#form_login div.login-datos {
    flex-direction: column;
  }
  main form#form_login div.login-datos input {
    margin-bottom: 10px;
    width: 70vw;
  }
  main form#form_login div.login-remember {
    justify-content: center;
    text-align: center;
  }

  div#popad div#popad-caja {
    min-width: 70vw;
    max-width: 80vw;
  }

  div#cookies {
    font-size: 3vw;
  }
  div#cookies a.ok {
    width: 100%;
  }
}

/*# sourceMappingURL=login.css.map */
