main {
  @include border-radius(15px);
  background: white;
  border: 3px solid #707070;
  width: 400px;
  max-width: 400px;
  max-height: 350px;
  margin: 40px auto;
  flex: auto;

  form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .formTitle {
      font-size: 30px;
      font-weight: 100;
      font-style: italic;
    }
  }
}