.PageLoginBox {
  background: #EAEAEA;
  height: 100vh;
  /* Flex */
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @import 'mainBox';

  @import '../global/routerNav';

  @import '../global/footer';
}