/* HeadBox */
.HeadBox {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.HeadBox__Icon {
	padding: 10px;
	background: $primary;
	@include border-radius(100px);
	display: flex;
	align-items: center;
	justify-content: center;
	animation: moveIcon 15s infinite;
}

.HeadBox__Title {
	margin-top: 10px;
	margin-bottom: 0px;
	font-weight: 100;
	font-style: italic;
	font-size: 20px;
}

.HeadBox__SubTitle {
	opacity: 0.8;
	margin-top: 0;
	font-weight: 100;
	font-style: italic;
	font-size: 16px;
}

/* LoginForm */
.LoginForm {
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: 0.5s;
}

.LoginForm__Divider {
	margin-bottom: 40px;
}

.LoginForm__Copyright {
	display: flex;
	flex-direction: column;
	opacity: 0.5;
	margin-bottom: 30px;
	text-align: center;
}

@keyframes moveIcon {
  0% {
    transform: rotate(0deg);
  }
  30%{
    transform: rotate(360deg);
  }
  40%{
    transform: rotate(330deg);
  }
  50%{
    transform: rotate(390deg);
  }

  80% {
    transform: rotate(0deg);
  }
}