@import 'Variables';

@import 'mixins';

@import 'index';

@import 'noticias';

@import 'entrar';

#root {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
}

a {
	text-decoration: none;
	color: white;
}

.header__selected {
	border-bottom: 2px solid;
	border-radius: 5px;
}

.drawer {
	width: 270px;
}

.drawer__title {
	font-weight: 500;
	font-size: 17px;
}

.drawer__subTitle {
	font-weight: 500;
	opacity: 0.7;
}

.box__title {
	font-size: 25px !important;
	font-weight: 900 !important;
}

.footer {
	height: 90px;
	background: #1F2228;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 0px;
}

.loading__img {
	width: 150px;
	animation: logo_loading 0.7s infinite alternate;
}

@keyframes logo_loading {
	0% {
		opacity: 0.9;
	}
	
	100% {
		opacity: 0.4;
	}
}