.login__logo {
	width: 35px;
}

.login__welcome {
	font-size: 30px !important;
	font-weight: 900 !important;
}

.login__recovery {
	font-size: 25px !important;
	font-weight: 900 !important;
}

.login__titleForm {
	font-size: 30px !important;
	font-weight: 400 !important;
	text-align: center;
}

.login__return {
	cursor: pointer;
}

.login__footer {
	opacity: 0.6;
	color: white;
}

.login__text {
	color: white;
}

.login__text--list {
	opacity: 0.8;
}

.login__welcome--white {
	color: white;
}

.login__welcome--italic {
	font-style: italic;
}