.noticia__title {
	font-size: 25px !important;
	font-weight: 500 !important;
	text-align: center;
}

.noticia__archives {
	font-size: 20px !important;
	font-weight: 500 !important;
	text-align: center;
}

.noticia__titleArchive {
	margin: 0px 10px
}

.noticia__sizeArchive {
	opacity: 0.7;
}

.noticia__expand {
	transition: 0.5s !important;
}

.noticia__animation1 {
	transform: rotate(180deg);
}

.noticia__fecha {
	opacity: 0.7;
}