//Reset
//@import 'reset';
//Variables
@import 'Variables';
//mixins
@import 'mixins';

//Index
@import 'index/main';
//Login
@import 'login/main';
//News
@import 'news/main';


//Fixed basic
a {
  text-decoration: none;
}

* {
	-webkit-box-sizing: boxer-box;
	-moz-box-sizing: boxer-box;
	box-sizing: boxer-box;
}


//Transition GLOBAL THEME
body {
  transition: 0.5s;
}