$primary: #6B8DD6;
$secondary: #7E6BD6;
$switchNoFocus: #686868;
$switchFocus: #FBFBFB;

// Cool
$aqua: #7FDBFF;
$blue: #0074D9;
$navy: #001F3F;
$teal: #39CCCC;
$green: #2ECC40;
$olive: #3D9970;
$lime: #01FF70;

// Warm
$yellow: #FFDC00;
$orange: #FF851B;
$red: #FF4136;
$fuchsia: #F012BE;
$purple: #B10DC9;
$maroon: #85144B;

// Gray Scale
$white: #FFFFFF;
$silver: #DDDDDD;
$gray: #AAAAAA;
$black: #111111;

//Alerts
$success: #cce5ff;
$borderSuccess: #b8daff;
$colorSuccess: #004085;
$error: #f8d7da;
$borderError: #f5c6cb;
$colorError: #721c24;
$warning: #fff3cd;
$borderWarning: #ffeeba;
$colorWarning: #856404;
$borderInfo: #c6c8ca;
$colorInfo: #1b1e21;